[2019-12-03 12:00] nmattia commented on #490
Mh, this is really odd. Those changes only modify the text that's inserted _instead_ of `{{DECKDECKGO_BASE_HREF}}`, but either way the `{{...}}` part should be gone. Is this in index.html? is that the only `{{...}}` that fails to interpolate?

[2019-12-03 12:08] peterpeterparker commented on #490
Yes it's in `index.html`

Yes it seems it is the only which fails

But it is also the only tag which has to be replaced and is not part of the `<head></head>`. It's an attribute of a slide.

Maybe a timing problem? Like does the replace finds place before or after the slides are parsed? If before, that's probably the reason.

[2019-12-03 12:27] nmattia commented on #490
You're right, we first interpolate the `{{...}}`, and then add the slide content: https://github.com/deckgo/deckdeckgo/blob/7d3a1f44ebecb856e7afab10097e2830f39abb70/infra/handler/src/DeckGo/Handler.hs#L1264-L1265

This should fix it:

[code]

[2019-12-03 12:30] peterpeterparker commented on #490
coolio 👍

ping me to give it a try

[2019-12-04 10:34] peterpeterparker commented on #490
Solved with https://github.com/deckgo/deckdeckgo/commit/2ddb0ee3f6d9c96fc0a8ea0983a9718ff6f40dfa

Fix is live

<img width="1264" alt="Capture d’écran 2019-12-04 à 11 33 15" src="https://user-images.githubusercontent.com/16886711/70135242-f4b42a00-1689-11ea-87f6-a7ec2b810733.png">

[2019-12-04 10:34] #490 closed

[2019-12-04 12:50] JonnyTech opened #516 "InvalidStateError: A mutation operation was attempted on a database that did not allow mutations."
Going to https://deckdeckgo.com/ in Firefox 70.0.1 64 bit on Debian Buster based Linux, just getting a blank screen.

The developer console displays the following:

[code]

Loads correctly in Chromium. Any ideas?

[2019-12-04 14:03] peterpeterparker commented on #516
@JonnyTech thank you for reaching out 👍

Did you tried it maybe in an incognito Firefox browser/tab?

If I try "normal mode" Firefox it works fine for me but if I do try it in incognito mode, then I also face thee error `InvalidStateError: A mutation operation was attempted on a database that did not allow mutations.`

If it's also your case, then I would say that's the reason and that probably th

[2019-12-04 14:46] JonnyTech commented on #516
Ah, yes, in Firefox it is set to never remember history which is the same as private mode. Thanks for confirming. I wonder if I can exclude that site only..

[2019-12-04 14:46] #516 closed

[2019-12-04 14:50] peterpeterparker commented on #516
@JonnyTech thx you for the feedback. I hope there is such a solutio (exclude site), that would be great!

I've to say I like to use idb and specially through [idb-keyval](https://github.com/jakearchibald/idb-keyval) because it's a lightweight and fast library

[2019-12-05 09:19] peterpeterparker commented on #394
Definitely makes sense.

1. it makes the UX the same for all components
2. it opens the door to the next feature ;)

[2019-12-06 06:12] #394 closed

[2019-12-06 08:35] peterpeterparker opened #518 "studio: poll input field is behind keyboard on iOS"
As we are setting explicitly `inputBlurring` to `false` because it works better with our editor, on the `poll` page, the side effect is, that the keyboard appears over the input field to enter the code.

Easy workaround are the better, move the field up and the introduction down.

Which also makes sense as attendees don't want to read the description first but want to go straight to the point (I g

[2019-12-06 08:39] #518 closed

[2019-12-08 15:09] peterpeterparker opened #520 "studio: move "deck" style (color, background) outside "slides" (accessibility)"
Currently, the deck options are accessible with the slides. If I click on a slide, through the toolbar I've got access to "color" or "image". Then in the popover I could select slide or deck.

As we "will have" to add more options related to the deck, the related options should be accessible differently. Moreover, might makes the difference between "deck and slides options" more easy to understand

[2019-12-09 07:36] peterpeterparker commented on #520
As we are moving the "deck" options to a more accessible pane, we could therefore also change the "default color/background behavior".

Instead of assigning a random color to the very first slide only, when a new presentation is started, we could then assign the random color and background to the all presentation

@nmattia I guess you will be agree with this

[2019-12-09 09:02] nmattia commented on #520
@peterpeterparker indeed I am!

[2019-12-10 06:51] #520 closed

[2019-12-10 08:07] peterpeterparker commented on #70
Duplicate #57

[2019-12-10 08:07] #70 closed

[2019-12-10 08:09] peterpeterparker commented on #57
I'll implement the following transitions:

- slide (the current "slide" effect)
- none (no transition, like when I jump to a particular slide)
- fade (a brief fade effect when a slide is displayed)

[2019-12-10 18:38] grantlouisherman commented on #437
Hey @peterpeterparker can I take a look at this?

[2019-12-11 06:48] peterpeterparker commented on #437
@grantlouisherman sure, that would be awesome!

but before implementation, could you double check if this would improve or not our canvas?

I remember I read the article and learned about it but it is worth to control before investing time 😉

Thx

[2019-12-11 11:09] #57 closed

[2019-12-11 20:23] peterpeterparker opened #525 "highlight code: display code as card"
I really like https://carbon.now.sh, I use it often to create card to share code of tricks and mistakes on Twitter. I think it looks really stylish and that would be cool to also display the code in presentation in form of card.

Therefore I gonna modify the `highlight-code` component in such a form.

I'll provide a lot of CSS variables for customization and the use will be able to opt-out aka don

[2019-12-12 08:41] #525 closed

[2019-12-13 07:31] peterpeterparker opened #530 "starter: CI/CD to deploy studio starter kit"
Morning idea: maybe we could install a CI/CD to deploy the studio starter kit too?

Commit/push in studio starter kit -> deploy

[2019-12-14 11:59] donroyco opened #533 "feat(docs): add issue templates for issues and pull requests"
Currently there are a lot of ways people adding issues and pull requests to this repository. It's great that they contribute to this repo, but I think it's better when that can be streamlined and every issue and/or PR provides the same information.

There's this [GitHub Help article](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates) about issue a

[2019-12-14 12:11] donroyco opened #534 "studio(a11y): sign in button not reachable with keyboard only"
## Current behaviour

When tabbing through the website on https://deckdeckgo.com/, it skips the 'Sign in' button and goes directly to 'Write presentation'.

![20191214-deckdeckgo-signin](https://user-images.githubusercontent.com/1763537/70848501-d19c2e00-1e72-11ea-8782-25c206603ca5.gif)
_Reproducing GIF of current behaviour._

Side note: when using MacOS built in VoiceOver, the Sign in link is ins

[2019-12-14 12:12] peterpeterparker commented on #533
@donroyco definitely a good idea 👍

furthermore, as our repo is a mono-repo, providing template would probably help to narrow the issue or feature reporting.

p.s.: if you or anyone would like to contribute and provide such templates, that would be of course wonderful 😃

[2019-12-14 12:16] peterpeterparker commented on #534
@donroyco well spotted, thx for the issue!

[2019-12-14 12:23] donroyco opened #535 "studio(a11y): presentations should have better naming"
## Current behaviour

When navigating through the presentations with MacOS built in [VoiceOver](https://help.apple.com/voiceover/mac/10.15/), it just speaks out the URLs leading to Google Firebase storage.

Reproducible steps:
1. Go to https://deckdeckgo.com/
2. Switch on VoiceOver (Cmd + F5)
3. Navigate with tab to the list of presentations

<img width="915" alt="MacOS VoiceOver speaks out URL" s

[2019-12-14 12:26] peterpeterparker commented on #535
freak me, the `alt` tag is missing, sorry for that

thanks a lot @donroyco for these accessibility tests 🙏

[2019-12-14 12:36] donroyco opened #536 "studio(a11y): toolbar options have no focus state"
## Current behaviour

When tabbing through the content with keyboard in editor mode (https://deckdeckgo.com/editor/[id]), I noticed that none of the options in the toolbar have a **visible** focus state. I can't see where I currently am in the page.

![20191214-deckdeckgo-editor](https://user-images.githubusercontent.com/1763537/70848771-91d74580-1e76-11ea-96d7-7eb01e06f41c.gif)
_Reproducing issue

[2019-12-14 12:47] donroyco opened #537 "studio: links should have different styling (to distinguish from emphasised text)"
## Current behaviour

When I came to the DeckDeckGo website for the first time, I tried to click on 'open source' and 'presentations', because on the right side I saw 'Slack', 'email' and 'Twitter' in the **exact same appearance** on the page.

<img width="817" alt="Blocks of content" src="https://user-images.githubusercontent.com/1763537/70848871-b41d9300-1e77-11ea-85e9-8dc0e5ddfc70.png"> _View o

[2019-12-14 12:51] peterpeterparker commented on #537
Makes sense 👍

I would say, the following should be removed from `fonts.scss`

[code]

Therefore,  `strong` will be displayed as initial, black and bold

[2019-12-14 12:53] peterpeterparker commented on #536
I might have to have a general look "tab" usage in the editor. If my deck contains more than one slide and if I tab in the last element of one of them, then the next slide receive the focus but the "swipe" doesn't occurs. Not good.

[2019-12-14 13:09] donroyco commented on #533
@peterpeterparker I just put an initial PR, please have a look.

[2019-12-14 13:31] peterpeterparker commented on #533
awesome @donroyco thx you for your PR and ideas 👍

I just added some more components to the potential affected parts (see https://github.com/deckgo/deckdeckgo/pull/540) but for the rest it's really super!

[2019-12-14 13:31] #533 closed

[2019-12-14 13:38] peterpeterparker commented on #537
@donroyco we have recently printed our some stickers and we are even going to send them next week per post to our contributors.

if you are interested, drop me an email with your postal address at david.dalbusco(at)outlook.com

we would be happy to send you one too! thank you so much for your help 🙏

[2019-12-14 13:38] #537 closed

[2019-12-14 13:47] donroyco commented on #537
@peterpeterparker Awesome! Let me drop you an email. 📫

[2019-12-14 14:05] donroyco commented on #535
Would adding

[code]
 to the link element make sense? I am not sure if the meta title is always available.

[2019-12-14 14:10] peterpeterparker commented on #535
It makes sense. Title is mandatory in the meta data.

[2019-12-14 14:57] #535 closed

[2019-12-15 11:09] donroyco opened #544 "studio(a11y): colors should have a name description"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

#### Reproduction

Steps to reproduce:
1. Go to the editor
2. Click on the tab 'Style'
3. Look at the sidebar

#### Expected Behavior

I would expect that the colors in the palette are also written down in order to deal with people with

[2019-12-15 11:17] donroyco opened #545 "studio: remote control text is not readable"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

#### Reproduction

Steps to reproduce:
1. Go to editor
2. Click 'Remote' option
3. See the modal popping up

#### Expected Behavior

To be able to read all of the text that's displayed.

#### Actual Behavior

<img width="708" alt="Remot

[2019-12-15 16:04] peterpeterparker commented on #544
good point @donroyco

we are working with rgb color, what do you think, is is better to display a label like "Current color rgba(255, 44, 33, 0.4)" or the hex value?  what would be your suggestion?

thank you in advance for your inputs!

[2019-12-15 16:05] peterpeterparker commented on #545
sure good suggestion, thx 👍

[2019-12-15 16:56] donroyco commented on #544
@peterpeterparker For the colors that are already displayed, I think adding the aria value underneath the colors would already help.

<img width="295" alt="Color descriptions" src="https://user-images.githubusercontent.com/1763537/70865993-397e7180-1f64-11ea-9e46-5da6372a7d07.png">

For the selected color it's hard to define what's best. I don't think a lot of people will know what `rgba(255, 44,

[2019-12-15 17:20] peterpeterparker commented on #544
thank you for the inputs!

I've to say I'm not sure yet what's the best solution, because users could also select any colors through the "extended" picker and because I also use the component in other apps ;)

I should think about it but of course you are definitely right, the accessibility could/should be improved

[2019-12-16 07:09] donroyco commented on #544
Yeah, it's true that people can select any color. Let's see what other people think and what other editors do.

[2019-12-18 07:07] peterpeterparker opened #548 "studio: screenshot not generated anymore"
### Affected part of DeckDeckGo
- [X ] Studio

### Actual Behavior

There is a `cloud storage` breaking changes in the update of `firebase-admin` v8.8.0 which has for effect to makes the screenshots been saved in the wrong storage folder because of the leading slash.

See:

https://github.com/firebase/firebase-admin-node/releases/tag/v8.8.0

https://github.com/googleapis/nodejs-storage/releases/ta

[2019-12-18 07:21] #548 closed

[2019-12-19 00:01] grantlouisherman commented on #437
Hey @peterpeterparker so I have done a little bit of research. These two articles are probably the best: https://developers.google.com/web/updates/2019/05/desynchronized, https://www.chromestatus.com/feature/6360971442388992. Here is a presentation on rendering: https://docs.google.com/presentation/d/1boPxbgNrTU0ddsc144rcXayGA_WF53k96imRH8Mp34Y/edit#slide=id.g60f92a5151_40_102

Here is a code pen

[2019-12-19 06:49] peterpeterparker commented on #437
thank you very much @grantlouisherman for the analysis!

I'm agree with, it seems that this option isn't that needed for our components, as it has an effect on the latency interaction.

Also it seems needed when there are a lot of data, which might not be our case.

On the other hand, not in the components but in the "remote control", the users do have the ability to draw over the presentation.

N

[2019-12-19 19:19] grantlouisherman commented on #437
Hey, @peterpeterparker I can create a branch. Do you have a stylus to test the drawing?

[2019-12-19 20:02] peterpeterparker commented on #437
We could ask Nicolas (@nmattia) to give a try (if I deploy something), he has got a stylus for his iPad

[2019-12-19 20:12] nmattia commented on #437
Can do!

[2019-12-19 23:05] grantlouisherman commented on #437
hey @nmattia @peterpeterparker  here is the branch https://github.com/grantlouisherman/deckdeckgo/tree/feat/issue-437-canvas

When testing with the stylus let me know how it looks. I might need to add https://developers.google.com/web/updates/2019/05/desynchronized#avoiding_flicker depending on how the drawing manifests. I looked at the code and I don't think this should be an issue, but you never

[2019-12-20 06:27] peterpeterparker commented on #437
thx @grantlouisherman !

I've deployed a test version and pinged @nmattia

We keep you posted

[2019-12-21 07:50] peterpeterparker opened #550 "starter: ROOM_NAME not defined if title contains a special character"
### Affected part of DeckDeckGo
- [X ] Starter kit

### Reproduction

https://beta.deckdeckgo.io/hrshtkumar1/my-experience-with-preact-web-development/

### Actual Behavior

If the presentation's title contains special character (or just "&"?) then the variable to define the `ROOM_NAME` to connect the remote control to the presentation isn't correctly set and therefore an exception is throw (see s

[2019-12-21 07:55] peterpeterparker commented on #550
I could maybe use a regex, something like https://stackoverflow.com/a/11090301/5404186

[code]

[2019-12-21 08:08] peterpeterparker commented on #550
@nmattia I think we have to define a new variable for the publishing or does maybe `{{DECKDECKGO_DECKNAME}}` (https://github.com/deckgo/deckdeckgo/blob/2ddb0ee3f6d9c96fc0a8ea0983a9718ff6f40dfa/infra/handler/src/DeckGo/Handler.hs#L1273) already filters special characters and new lines?

If not I guess we have to define a new one like `{{DECKDECKGO_DECKTITLE_FILTERED}}` or something.

[2019-12-22 07:41] peterpeterparker commented on #437
@grantlouisherman Nicolas did some testing and our conclusion were that is was actually "same same". as you mentioned, the flag improves the performance for large amount of data, I guess at least in the case of our test, if wasn't the case, therefore we don't notice anything specially.

even if there isn't much change yet, I would say, we merge the improvement if you could provide a PR?

We never

[2019-12-22 10:35] nmattia opened #551 "remote: preserve aspect ratio"
### Affected part of DeckDeckGo
- [x] Studio
- [x] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Feature Description

 The remote and the actual presentation may have very different aspect ratios. This leads to awkward drawings:

![0DB77B10-4D5E-4579-93F1-0F2598F6279E](https://user-images.githubusercontent.com/6930756/71320690-

[2019-12-22 16:30] peterpeterparker opened #552 "studio: reorder complete return"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

I just discovered the following in the Ionic [documentation](https://ionicframework.com/docs/api/reorder-group):

Don't know if it's something new or I missed, but I didn't implemented it in studio. Might be good to add it too.

[2019-12-22 16:40] peterpeterparker commented on #552
Actually no, we don't need this ;)

[2019-12-22 16:40] #552 closed

[2019-12-23 16:13] grantlouisherman commented on #437
https://github.com/deckgo/deckdeckgo/pull/553

[2019-12-23 16:33] peterpeterparker commented on #437
awesome, thx for the analysis and PR @grantlouisherman 👍

merry xmas!

[2019-12-23 16:33] #437 closed

[2019-12-24 12:25] donroyco opened #554 "studio(a11y): main menu has not enough contrast"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1.  Go to https://deckdeckgo.com/
2. Click the main menu

### Expected Behavior

The contrast between font color and background color should be high enough.

### Actual Behavior

<img width="419" al

[2019-12-24 12:45] peterpeterparker commented on #554
Fully agree, probably the same with the dark mode menu aka both light and dark mode!

Thx for pinging us about this 👍

[2019-12-24 12:59] donroyco commented on #554
@peterpeterparker Anytime. While playing with WCU, I saw that [changing the font-size to 19px and making it bold](http://whocanuse.com/?b=3880ff&c=FFFFFF&f=19&s=b), the WCAG grading goes to AA. Not sure if that makes it prettier, it makes it a least more useful.

[2019-12-28 14:26] grantlouisherman commented on #426
Hey @peterpeterparker could I take a look at this?

[2019-12-28 14:58] peterpeterparker commented on #426
@grantlouisherman this one is a bit tricky as it has to do, I think, with our API written in Haskell and also, some secrets token aren't shared therefore a bit tricky to debug.

I had a look to other issues and the following one is still available and I think that would be a big improvements if someone would solve it. Would it be interesting for you?

https://github.com/deckgo/deckdeckgo/issues/38

[2019-12-28 15:15] grantlouisherman commented on #389
@peterpeterparker should I take a look?

[2019-12-28 17:25] peterpeterparker commented on #389
that would be super cool @grantlouisherman 👍
I think that would be a nice value for the users if that task would be solved

[2019-12-28 17:29] grantlouisherman commented on #389
Do you want to email me the fire base stuff?

[2019-12-28 17:31] peterpeterparker commented on #389
@grantlouisherman no need, the tokens for the test are now already contained in the repo ;)

[2019-12-28 17:32] peterpeterparker commented on #389
[code]

and you should be good to go.

Let me know if you need further assistance!

[2020-01-03 18:10] peterpeterparker commented on #245
@nmattia it was actually not that much work to add it to the editor and need you now here for the publishing part.

in the starter kit we "need" to add the following in the header:

[code]

where `Lora` (name of the font) will be provided by studio as parameter.

BUT, user might also would like to NOT use any google fonts and therefore nothing (no fonts) would have to be fetched.

[code]

what sho

[2020-01-03 18:10] peterpeterparker commented on #245
<img width="1012" alt="Capture d’écran 2020-01-03 à 19 10 37" src="https://user-images.githubusercontent.com/16886711/71740524-bebabf00-2e5c-11ea-9200-66a8b52fb65d.png">

[2020-01-04 08:01] peterpeterparker commented on #424
I'm on it. PR #556 in progress.

[2020-01-04 12:26] peterpeterparker commented on #424
![Capture d’écran 2020-01-04 à 13 20 02](https://user-images.githubusercontent.com/16886711/71765484-d09c7080-2ef5-11ea-9de7-d9c5d3e079ca.png)

[2020-01-04 13:25] peterpeterparker commented on #424
Done including update of the starter kit, but still need a `terraform apply` though.

@nmattia as we have still other tasks to finish, wish also will need an update of the starter kit, like the task for the fonts, I would say don't proceed with an update of the api yet, let's finish the others first.

[2020-01-04 13:25] #424 closed

[2020-01-05 07:30] peterpeterparker commented on #359
@nmattia this will need an update of the starter kit too. as previously, let's finish the task related to fonts first and run one `terraform apply`.

[2020-01-05 07:30] #359 closed

[2020-01-05 08:27] peterpeterparker opened #558 "template: add new design options to slide "author""
New design (per default): instead of only circle, full height image. Previous design remains optional.

Add also design option to not display an image (content full width).

Furthermore, add to studio the background and color options for start/end pane.

[2020-01-05 08:28] peterpeterparker commented on #558
<img width="1336" alt="Capture d’écran 2020-01-05 à 09 27 52" src="https://user-images.githubusercontent.com/16886711/71777252-aa321000-2f9d-11ea-82fc-3d56d7705988.png">

[2020-01-05 10:49] peterpeterparker commented on #558
in studio:

![Capture d’écran 2020-01-05 à 11 48 46](https://user-images.githubusercontent.com/16886711/71778696-5df0cb00-2fb1-11ea-828a-f0287961cd11.png)

[2020-01-05 16:00] peterpeterparker commented on #558
Done including update of the starter and integration in studio.

@nmattia this will also needs a `terraform apply`.

[2020-01-05 16:00] #558 closed

[2020-01-06 07:14] peterpeterparker commented on #545
I went with `--font-size-small` instead of `--font-size-very-small`. I see the info as hint, that's why I also moved it at the bottom of the modal.

Let me know what you think about it.

<img width="1293" alt="Capture d’écran 2020-01-06 à 08 13 39" src="https://user-images.githubusercontent.com/16886711/71801873-7b2ea380-305c-11ea-821e-29f5193dfb60.png">

[2020-01-06 07:14] #545 closed

[2020-01-06 07:37] donroyco commented on #545
Looks way better. Thanks!

[2020-01-06 07:39] peterpeterparker commented on #545
super @donroyco ! thx you for the issue and feedback 👍

[2020-01-06 10:14] peterpeterparker opened #561 "studio: landing"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

My idea is to add a "landing page" to studio which should present the assets of the editor.

But this "landing page" should only be displayed to not registered and logged users. For example Medium do so. Furthermore it makes sense to only display the landing in such case specially as studio itself is a Progressive Web Apps and

[2020-01-08 09:36] peterpeterparker opened #563 "studio: replace all platform icons with local icons"
### Affected part of DeckDeckGo
- [X ] Studio

### Reproduction

`ion-icons` are a acting a bit weirdly when it comes to conditional rendering and when a specific platform is used (like `<ion-icon md="md-...." ios="md...."/>`).

Instead of these, we should download the related svg icon from https://ionicons.com
Add these to our assets folder and then reference these as `src` (`<ion-icon src='....'

[2020-01-08 14:06] #561 closed

[2020-01-08 19:34] peterpeterparker opened #565 "extract component <deckgo-youtube/>"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

As we did for the `<deckgo-social/>` component it would be cool to extract the `<deckgo-youtube/>` component to a separate bundle.

It could be useful to just use that component to load a YouTube video instead of adding the all slide/template component. We notably do that in the upcoming landing page of studio.

One don

[2020-01-08 20:27] peterpeterparker commented on #565
@nmattia this one too will need a `terraform apply` ;)

[2020-01-08 20:27] #565 closed

[2020-01-09 14:43] peterpeterparker opened #570 "youtube: smoother display transition"
### Affected part of DeckDeckGo
- [X ] Web Components

### Feature Description

Our `@deckdeckgo/youtube` takes care of rendering a YouTube `iframe` using their API but, right now, it's a bit "either nothing, either everything" respectively there isn't any smooth transition between these two states.

The idea is the following: loading the `iframe` but per default with no visibility and then, when

[2020-01-10 06:20] peterpeterparker opened #575 "lazy-img: svg are't lazy loaded in browser which support native loading"
### Affected part of DeckDeckGo
- [X] Web Components

### Reproduction

Our `lazy-img` component use first the native lazy loading before using the Intersection Observer.

It also support both `img` input and `svg`.

When we use svg, the component doesn't par an `<img/>` tag but a `<div/>` with the svg as inner content.

Therefore, in such case and only for the svg, the native lazy loading can't b

[2020-01-10 10:23] peterpeterparker commented on #554
@donroyco contrast will be better I hope with the PR I just merged:

light mode:

<img width="915" alt="Capture d’écran 2020-01-10 à 10 01 00" src="https://user-images.githubusercontent.com/16886711/72145778-7be87200-339b-11ea-8a6f-c169c2ae217d.png">

dark mode:

<img width="915" alt="Capture d’écran 2020-01-10 à 10 00 55" src="https://user-images.githubusercontent.com/16886711/72145791-8276e980-3

[2020-01-10 10:23] #554 closed

[2020-01-10 10:23] peterpeterparker commented on #554
Thx for the issue 👍

[2020-01-10 10:25] #575 closed

[2020-01-10 10:59] #563 closed

[2020-01-10 11:46] donroyco commented on #554
Thanks for the improvement @peterpeterparker !

[2020-01-10 11:47] peterpeterparker commented on #554
😃

[2020-01-11 09:05] peterpeterparker opened #581 "starter: swipe slide with Tab"
### Affected part of DeckDeckGo
- [X] Starter kit

### Feature Description

Swipe slide with keyboard "Tab"

[2020-01-11 09:11] #581 closed

[2020-01-11 09:11] peterpeterparker commented on #581
Related commit in their respective repo

[2020-01-11 09:14] peterpeterparker commented on #536
This issue will be solved in our next version @donroyco

If I would "tab" from an element on Slide X to an element on Slide X+1 or X-1, then we will notice this, fix the automatic scroll applied by the browser and swipe automatically to the related slide.

[2020-01-11 09:14] #536 closed

[2020-01-11 12:12] peterpeterparker opened #582 "studio: clone deck"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Currently it's possible to create a new presentation or delete it but it is not yet possible to clone ("copy") a presentation to create a new one.

An action to be added to the user's dashboard and which need a cloud function (it might takes time to clone the slides of a deck, better do that in a function).

[2020-01-12 20:27] #582 closed

[2020-01-13 16:35] peterpeterparker opened #584 "studio: navigation button padding-start incorrect"
### Affected part of DeckDeckGo
- [X] Studio

### Reproduction
The `--padding-start` of the "big buttons" in the navigation is incorrect and has for effect to not display the text centered. It should be 16px instead of 26px.

### Expected Behavior

A centered text

### Screenshot

<img width="1201" alt="Capture d’écran 2020-01-13 à 17 33 30" src="https://user-images.githubusercontent.com/16886711/

[2020-01-13 19:51] peterpeterparker opened #585 "studio: assets (are already) private"
### Affected part of DeckDeckGo
- [X ] Studio

### Feature Description

Users are editing their presentations privately but currently, when they upload assets (images or charts data), these are made public because the Firebase Storage rules makes the storage content public to everyone (only read).

Users are informed about this through a popup (see screenshot).

That's the current status but it's

[2020-01-14 01:18] grantlouisherman commented on #389
Hey, @peterpeterparker I have been looking at this and I am not sure if there is a way to implement the search bar as you show it above. Just because of how the popup controllers are. The code select option is a popup controller within a popup.  I can add the search to the toolbar? Unless you know of a way to add it to the code lang options popup.

[2020-01-14 06:56] peterpeterparker commented on #389
@grantlouisherman thank you for having a look at this. I'm agree with you, seems there is no way with the default Ionic components `ion-select`. I think the solution is then to create our own popover which should kind of look the same as the Ionic one + a filter (searchbar). I rather like a solution with the filter inside the popover, before the list of option, than an autocomplete in the toolbar.

[2020-01-14 16:52] grantlouisherman commented on #389
hey @peterpeterparker sounds good! sorry I couldnt be more helpful. I can do the search bar functionality if you want and you can handle the placement?

[2020-01-14 17:49] peterpeterparker commented on #389
@grantlouisherman thx for your offering. I'll begin to work on it and will see how it goes, I'll keep you posted.

P.S.: Might take a bit before I begin this one, I'm currently battling with other issues ;)

[2020-01-14 18:39] grantlouisherman commented on #389
@peterpeterparker totally understand. Just reach out if you need me

[2020-01-16 07:18] peterpeterparker opened #587 "studio: in db, delete deck attributes instead of keep null values"
### Affected part of DeckDeckGo
- [X ] Studio

### Feature Description

A technical minor task: instead of keeping null values for background and attributes of the deck in db in case these information would be delete, remove (delete) the attributes from the doc.

Like for the background:

[code]

[2020-01-16 08:04] peterpeterparker opened #588 "studio: remove list of presentations from side menu"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

To subscribe and unsubscribe to the services and events for the editor, we are observing the route change (see `ionRouteDidChange` in editor). Reason behind is that we can't observe component did load and unload as the component might be loaded even when the user navigate to another presentation.

If that work generally speakin

[2020-01-16 09:53] peterpeterparker opened #589 "studio: release next version - configuration"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Things David should do manually to release next version in production:

1. ~Database: add rules for new collection "assets"~

2.

a. ~`set-cloud-config.sh` with new prod values~
b. Deploy updated cloud functions

3. Storage:

a. Update rules
b. ~Run batch to set previous public assets as visible~

# UPDATE

See my last comment

[2020-01-17 10:44] #585 closed

[2020-01-17 11:01] #589 closed

[2020-01-17 11:25] #584 closed

[2020-01-17 12:09] #588 closed

[2020-01-17 12:24] #587 closed

[2020-01-19 14:51] #245 closed

[2020-01-19 16:47] peterpeterparker commented on #514
Actually we don't need this.

[2020-01-19 16:47] #514 closed

[2020-01-19 17:19] #497 closed

[2020-01-19 17:19] peterpeterparker commented on #497
Done and deployed in version studio-beta.11

[2020-01-20 14:39] StefanNieuwenhuis commented on #534
Is this issue still relevant?

[2020-01-20 14:40] peterpeterparker commented on #534
yes sure @StefanNieuwenhuis

all improvements are welcome!

[2020-01-20 14:42] StefanNieuwenhuis commented on #534
When I visit [https://deckdeckgo.com/](https://deckdeckgo.com/), I see a completely different site, without any sign-in button. Hence my question :)

[2020-01-20 14:45] peterpeterparker commented on #534
@StefanNieuwenhuis that's brand new ;)

Summarized the welcome screen is:

not logged -> landing page (the one you see I guess)
logged -> the feed as before

There is now a landing page for not logged users. We thought it was nice to add one to explain a bit what's DeckDeckGo.

[2020-01-20 16:43] peterpeterparker commented on #470
The PR #600 @StefanNieuwenhuis reminds me that we need to this.

[2020-01-21 17:40] #172 closed

[2020-01-21 17:41] peterpeterparker commented on #172
I guess we don't need this anymore

[2020-01-21 17:41] peterpeterparker commented on #167
Starter sw has been improved. Studio cache fonts right now.

[2020-01-24 13:42] peterpeterparker commented on #58
Should be good I guess (the language definitions are part prism which seems ok), therefore I close this one.

[2020-01-24 13:42] #58 closed

[2020-01-24 14:01] peterpeterparker commented on #389
@grantlouisherman it's implemented and even unleashed in production. I went through it because it actually needed more than I thought and it was easier to do a all commit than a partial one, hope it's ok for you.

I'm happy to hear your feedback and idea of improvements as always!

Happy weekend

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/16886711/73074638-5ccd0280-3eba-11

[2020-01-24 14:01] #389 closed

[2020-01-25 16:59] peterpeterparker commented on #470
Done ("mieux vaut tard que jamais") 😁

I have added prettier to all our web components and apps.

The original issue aim to add prettier to the starter kit. I think we should do it but we should also add typescript, I've opened a new separate issue for that purpose https://github.com/deckgo/deckdeckgo-starter/issues/52

Thx for the inputs 👍

[2020-01-25 16:59] #470 closed

[2020-01-25 19:13] donroyco opened #603 "studio(meta): tag info may be updated"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Go to https://deckdeckgo.com/ and view source or:
1. Go to https://metatags.io/ and fill https://deckdeckgo.com/ in the URL
2. Look at the different appearances for sharing on platforms

### Expe

[2020-01-26 08:34] peterpeterparker commented on #603
My gosh yes, we should have done that a long time ago!

Done and live, thx for the input @donroyco 👍

Ping me if you think it still need improvements

[2020-01-26 08:34] #603 closed

[2020-01-26 17:49] donroyco commented on #603
@peterpeterparker This looks like how it should have been. Thank you!

[2020-01-26 17:50] peterpeterparker commented on #603
Awesome thanks a lot for the feedback, happy to hear that 😃

[2020-01-26 19:26] donroyco opened #605 "studio(a11y): main menu not accessible with keyboard navigation only"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Go to https://deckdeckgo.com/
2. Navigate with tab once (main menu is focused)
3. Press Enter
4. Tab once again

### Expected Behavior

Menu items like _Home_ should be focusable.

### Actual Beh

[2020-01-26 21:14] peterpeterparker commented on #605
It looks like I don't use that much often "tab" ;)

Thx for the issue @donroyco 👍

I link this one with https://github.com/deckgo/deckdeckgo/issues/534, kind of the same idea

[2020-02-06 16:11] peterpeterparker opened #608 "cli: new cli to create template"
### Affected part of DeckDeckGo
- [X] Templates

### Feature Description

Currently, if I want or if someone want to create a template for DeckDeckGo, she/he has to copy an existing Web Components (`@deckdeckgo/slide-something`), clean it, install the libs, rename it, set the descriptions, implements the interfaces and ready to roll.

It would be maybe cool to have cli (`npm init deckdeckgo-templa

[2020-02-08 10:43] peterpeterparker opened #609 "starter: jump to slide prevented by CSP"
### Affected part of DeckDeckGo
- [X] Starter kit

### Reproduction
"Jump to slide" in the starter kit doesn't work anymore as inline script is prevented by the CSP policy

See screenshot.

### Expected Behavior

No inline script ;)

### Screenshot

<img width="1496" alt="screenshot_2020-02-08_at_11 20 50" src="https://user-images.githubusercontent.com/16886711/74083799-48673900-4a68-11ea-88a7-309

[2020-02-08 11:11] peterpeterparker opened #610 "studio: shapes and draw"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Remote control
- [X] Documentation
- [X] Demo
- [X] Starter kit
- [X] Web Components
- [X] Templates

### Feature Description

Being able to "draw" (add shapes and form) to a presentation. This will need a new template, as we have to preserve the ratio of the drawing on portrait mobile devices, and new component to move and resize elements.

[2020-02-08 16:59] #493 closed

[2020-02-08 16:59] #609 closed

[2020-02-08 16:59] peterpeterparker commented on #609
@nmattia it need a "terraform apply" to unleash the fix (it's in the stater)

[2020-02-08 18:14] nmattia commented on #609
@peterpeterparker done, pushed to master!

[2020-02-09 19:12] peterpeterparker opened #611 "feat: RSS feed"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Provide the feed (the of published decks) as a RSS feed too

### Use Case

Some thoughts about this: https://twitter.com/samvloeberghs/status/1226582523905552384

[2020-02-10 19:48] peterpeterparker opened #612 "studio(a11y): remove element and slide toolbar and move actions to footer"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Currently, if user select and element (a title, a code block etc.) or the slide, a toolbar is displayed above the selected element.

The goal of this feature is to remove this behavior and instead move the related actions to the footer.

Doing so, according if the user select the deck, slide or an element,  the related actions

[2020-02-11 05:58] peterpeterparker opened #613 "studio(a11y): highlight "publish" disable reasons if matching"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

A deck could not be published if its title doesn't match the pattern (latin letters, no ', etc.) and if the publishing API felt asleep.

In both cases, the "Publish" button will be set to disable.

Moreover, it would be more user friendly, if this happens, to highlight the reason.

### Screenshot

<img width="1183" alt="Capture

[2020-02-11 19:29] peterpeterparker opened #614 "studio: Ionic v5 and color scheme"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

DeckDeckGo "strangely" use the same color panel as Ionic. With the introduction of Ionic v5, their color scheme for dark mode was actualized.  It might worth to follow such update ;)

Furthermore, upgrade to Ionic v5 in the meantime.

### Reference

https://ionicframework.com/blog/announcing-ionic-5/

### TODO

Update primary,

[2020-02-12 16:04] peterpeterparker opened #616 "studio: navigation button "Write a presentation" color and spacing"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

With the new implementation of the dark/light mode and the new landing page, where mainly "blue" is used, the navigation button "Write a presentation" (in the navbar) in blue is not the best choice.

Goal of this feature is to modify its color to "light" if dark mode and "dark" if light mode.

In the meantime, the spacing betwe

[2020-02-13 12:41] #612 closed

[2020-02-13 13:12] #616 closed

[2020-02-13 16:09] peterpeterparker opened #618 "add share option to Hacker News"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Demo
- [X] Starter kit

### Feature Description

The component "Web Social Share" v6.3.0 introduces the option to share a link to Hacker News.
We should use it ;)

[2020-02-13 17:12] peterpeterparker opened #620 "docs: refresh docs for developer start page text"
### Affected part of DeckDeckGo
- [X] Documentation

### Feature Description

The project has evolved since I developed the `docs` for developer. It's now worth to update the texts of the related start page

[2020-02-14 10:03] #614 closed

[2020-02-14 10:26] #618 closed

[2020-02-14 12:56] pattacini opened #622 "Integration of MathJax"
### Affected part of DeckDeckGo
- [ ] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [X] Web Components
- [ ] Templates

### Feature Description
It would be super nice to integrate [MathJax ](https://www.mathjax.org) (or some equivalent components like KaTeX) into DeckDeckGo.

### Use Case
This way, we could show complicated mathematical expressions witho

[2020-02-14 14:47] peterpeterparker commented on #622
That's a freaking cool idea @pattacini

In terms of implementation, I could think that it would be something similar to our existing implementation for code highlighting. A web component to wrap the user interaction and the math library underneath. Then use we could offer the component for the developers and integrate it in the editor (studio) too. Definitely sounds feasible and maybe even somethi

[2020-02-14 16:04] pattacini commented on #622
It's definitely great that you're loving the idea @peterpeterparker 👍

I'm not into MathJax; it's just the first solution I know that's come to my mind. It's being used in StackOverflow for example.

Other alternatives are totally fine.

[2020-02-14 16:10] peterpeterparker commented on #622
Super 👍

We are currently working on a quite big other feature but I'll definitely have a look deeper at this asap

Or if anyone is willing to contribute to this, that would be awesome 😉

Thx again for the idea!

[2020-02-15 07:33] peterpeterparker opened #623 "highlight code: Ubuntu window"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

The Web Component [highlight-code](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/highlight-code) displays the code in a stylish Mac-window like.

Cody Pearce displayed on [Dev.to](https://dev.to/codypearce/ubuntu-terminal-in-css-1aeo) how to create a stylish Ubuntu-window.

Maybe we could enhance the bo

[2020-02-20 12:00] peterpeterparker opened #625 "remote: drag arrow"
### Affected part of DeckDeckGo
- [X] Remote control

### Feature Description

Currently when using the remote control, you are able to draw "free lines" or circle.

It would be cool to be able to draw arrows.

Like I touch the screen = start and I stop touching = end of the arrow

[2020-02-21 15:12] peterpeterparker commented on #534
Solved in next version, thx for the issue @donroyco 👍

[2020-02-21 15:12] #534 closed

[2020-02-21 15:19] peterpeterparker commented on #605
@donroyco just had a quick test. actually, at least in the next version, the items in the menu are accessible through tabs (see gif) but the things is that the menu/popover receive the focus/tabs after the homepage has been tabbed.

any idea how could the focus/tabs could be shifted to give the priority to the opened menu?

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/168867

[2020-02-21 16:05] peterpeterparker commented on #625
@Noitidart provided a super cool answer on Stackoverflow to display how to draw a triangle on a canvas 👍

 https://stackoverflow.com/questions/808826/draw-arrow-on-canvas-tag/36805543#36805543

[2020-02-21 19:49] donroyco commented on #605
Not sure how this would work in Ionic, I don't see some a11y documentation on [ionic-menu ](https://ionicframework.com/docs/api/menu). Is there a way to manually focus the sidebar when you know it has been triggered to open?

[2020-02-22 07:57] peterpeterparker commented on #605
@donroyco thx for the feedback! I honestly don't know neither and didn't found anything about it.

Therefore I opened a feature request in the Ionic Core https://github.com/ionic-team/ionic/issues/20590

[2020-02-22 10:26] #625 closed

[2020-02-22 13:02] donroyco commented on #605
@peterpeterparker Cool. I subscribed to the issue. Strange this is not available already in Ionic.

In Angular Material you [can check it pretty easily](https://stackblitz.com/edit/angular-xqu6vg?file=src/app/sidenav-open-close-example.html).

[2020-02-23 19:58] #623 closed

[2020-02-25 06:21] #610 closed

[2020-02-29 11:26] nmattia opened #652 "docs.deckdeckgo.com doesn't show 404"
### Affected part of DeckDeckGo
- [ ] Studio
- [ ] Remote control
- [x] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

Looks like the [documentation website](https://docs.deckdeckgo.com/) doesn't return a 404 if a page doesn't exist. Instead, it just shows an empty page:

https://docs.deckdeckgo.com/components/foo-bar-baz

[2020-02-29 11:31] peterpeterparker commented on #652
Linked with a known Ionic open feature request, see https://github.com/ionic-team/ionic/issues/18687

[2020-03-01 15:26] peterpeterparker opened #653 "studio: offline mode"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Offline mode aka having the ability to show but also edit a presentation offline.

### Use Case

Airplaines, Swiss trains, etc.

[2020-03-03 19:51] ble opened #655 "DRR rotation miscalculated on first click"
### Affected part of DeckDeckGo
- [ ] Web Components (DRR)

### Reproduction

Steps to reproduce:
1. Visit https://docs.deckdeckgo.com/components/drr/
2. Resize element to have large width, small height: ![image](https://user-images.githubusercontent.com/536767/75813370-e3002280-5d5d-11ea-857c-d71e34ff0ee4.png)
3. Rotate element so that the rotation handle is nearly 90 or 270 degrees from horizont

[2020-03-03 19:52] ble commented on #655
I believe that these two lines are the issue:
https://github.com/deckgo/deckdeckgo/blob/267b16dd8ceedcdb92789a3cd98fdc059720fc6f/webcomponents/drag-resize-rotate/src/components/deckdeckgo-drr.tsx#L217-L218

At least in this browser, Element.offsetWidth and Element.offsetHeight do not appear to account for the rotation of the element.

[2020-03-03 19:53] ble commented on #655
I was able to test a fix for this issue by setting a breakpoint in the above code (after prettifying it in the Web Inspector) and then, when paused at that breakpoint, running:

[code]
after which the (monkeypatched) DRR no longer exhibited any signs of jumping on first rotation.

[2020-03-03 19:54] peterpeterparker commented on #655
@ble sweet! let me try quickly

[2020-03-03 19:58] peterpeterparker commented on #655
Yes @ble absolutely that solve the issue!!! I tested both the component in standalone mode and integrate locally in the documentation, it works like a charm.

Would you like to provide a PR?

[2020-03-03 19:58] ble commented on #655
yeah, let me see if i can remember how to do it :)))

[2020-03-03 19:59] peterpeterparker commented on #655
awesome

[2020-03-03 20:01] ble commented on #655
https://github.com/deckgo/deckdeckgo/pull/656 hmm, maybe this will auto-associate them?

[2020-03-03 20:02] #655 closed

[2020-03-03 20:14] peterpeterparker commented on #655
a new version of component is published in npm, docs and remote are updated and have been deployed (might need a good browser refresh) 🎉

in the editor, fix will be unleashed in next major release

really awesome! thx again @ble

[2020-03-03 20:19] peterpeterparker opened #657 "drr: preserve aspect ratio on resize and maintain height/witdth on resize horizontally/vertically"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

Two things we might have to develop in the drag, resize and rotate component:

- Preserve aspect ratio on resize (should we do it all the time or add an option?)
- Maintain height/width. on resize horizontally/vertically

[2020-03-04 04:27] peterennis opened #658 "drr: cannot select"
### Affected part of DeckDeckGo
- [ ] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [x] Web Components
- [ ] Templates

drr

### Reproduction

build and run

![cannot-select](https://user-images.githubusercontent.com/140737/75845152-1ad28e80-5d8d-11ea-9df0-24d30f17346c.gif)

Steps to reproduce:
1.
2.

### Expected Behavior

Can select

### Actual Behavio

[2020-03-04 04:37] peterpeterparker commented on #658
Thank you for the issue and agree with your conclusion, it's a z-index problem.

I thought about adding an option to send-to-back/send-to-front in the component itself but right now I tend to think that it is something which can and should be implemented "outside" of it.

Applying/modifying the `z-index` property on the component solve the issue.

[code]

Let's keep this open until we implement a

[2020-03-04 04:58] peterpeterparker opened #659 "studio: social card image not generated"
### Affected part of DeckDeckGo
- [X] Cloud

### Reproduction

The social card image of the published presentation [Dexibit Challenge](https://beta.deckdeckgo.io/michael.heuberger/dexibit-challenge/) has been generated but all white.

Not sure where does the problem, maybe something should be set on Puppeteer to support Google Fonts?

### Expected Behavior

The screenshot in the cloud should had w

[2020-03-05 11:39] peterpeterparker opened #660 "studio: add new selected fonts"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Add the following fonts to studio:

- Oswald: https://fonts.google.com/specimen/Oswald
- Jura: https://fonts.google.com/specimen/Jura
- Fjord One: https://fonts.google.com/specimen/Fjord+One
- Josefin Slab: https://fonts.google.com/specimen/Josefin+Slab

### How To

With the last version of DeckDeckGo `studio` it's actually eas

[2020-03-09 18:15] peterpeterparker opened #663 "template author: spacing around social logo on Windows Chrome"
### Affected part of DeckDeckGo
- [X] Templates

### Reproduction

Only on Windows Chrome

### Screenshot

<img width="960" alt="Capture" src="https://user-images.githubusercontent.com/16886711/76244400-44cafb80-623a-11ea-841c-d73dab5964d6.PNG">

[2020-03-09 18:23] #663 closed

[2020-03-13 12:59] peterpeterparker opened #665 "studio: text-transform: none; for all buttons"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

I spoke quickly with a friend who's a typography expert and he was advising to avoid "full uppercase in buttons" as it says it is more difficult to read.

Therefore the goal of this task is to set all buttons of studio, our editor, to `text-transform: none;`

### What's to do

1. Find and remove all `ion-text-uppercase` in butt

[2020-03-15 16:13] #653 closed

[2020-03-21 07:52] peterpeterparker opened #669 "docs: update defineCustomElements(window) to defineCustomElements()"
### Documentation Feedback

With the new version of Stencil, which we have upgraded in all our components, passing `window` to `defineCustomElements(window)` isn't mandatory anymore and is even more convenient without, as prerendering, like with Gatsby, might not have access to `window`.

That's why the goal of this task is to replace all `defineCustomElements(window)` in the documentation (`docs`

[2020-03-21 09:02] peterpeterparker opened #670 "Prismjs css not imported in bundle"
### Affected part of DeckDeckGo
- [X] Web Components

### Expected Behavior

Related to a Stencil `--next` compiler issue, see https://github.com/ionic-team/stencil/issues/2292

[2020-03-21 09:37] donroyco opened #671 "studio(a11y): two H1 headings on settings page"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Go to https://deckdeckgo.com/settings
2. Look at rendered HTML

### Expected Behavior

I expect to see only one H1 heading in `<main>`, as advised by HTML standards. You can have multiple H1 acro

[2020-03-21 09:46] peterpeterparker commented on #671
Well spotted @donroyco !

I would even say that the second heading doesn't make sense, my bad. Therefore I removed it, no heading, no problem ;)

Thx for the issue 👍

Stay safe!

[2020-03-21 09:46] #671 closed

[2020-03-21 09:53] donroyco opened #673 "studio(a11y): sign in button not accessible via keyboard only on settings page"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Go to https://deckdeckgo.com/settings
2. Try to navigate through the page with keyboard only

### Expected Behavior

I expect to reach each element on the page that has a function.

### Actual Be

[2020-03-21 09:56] donroyco commented on #671
Thanks for the quick followup David! Take care and stay safe! 🙏🏻

[2020-03-21 10:02] peterpeterparker commented on #673
Again, well spotted 😉

There is the same problem in the `dashboard` route too if not logged in.

I think the problem happens when I used `<ion-router-link/>` with `click` event only. I guess at first I used them with navigation and than later to replace with some javascript to navigate, that's why it remained like this.

To solve the issue, my guess, the `<ion-router-link/>` should be modified to

[2020-03-23 20:10] peterpeterparker opened #675 "Can't upgrade Stencil in apps, prerendering build fails and duplicates pages in the DOM"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Remote control
- [X] Documentation

### Reproduction

Build fails: https://github.com/ionic-team/stencil/issues/2301

Duplicate pages in the DOM: https://github.com/ionic-team/stencil/issues/2366

[2020-03-28 06:12] #665 closed

[2020-03-28 06:17] #660 closed

[2020-03-28 12:17] peterpeterparker opened #679 "template: split vertical text alignment"
### Affected part of DeckDeckGo
- [X] Templates

### Feature Description

Currently the template `split` display the text centered in mode both rows or columns.

In case of two columns text would be easier to read if left aligned respectively right if LTR

See screenshots.

Therefore this task has for goal to change the default alignment if two columns.

### Note

This might not be a template issu

[2020-03-28 12:42] peterpeterparker opened #680 "inline-editor: add a feature for text aligment"
### Affected part of DeckDeckGo
- [X ] Studio

### Feature Description

Add a feature to studio to let user modify the text alignment (left, center and right) for the titles and paragraphs elements.

This can be solved by improving the [inline-editor](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/inline-editor) component.

Three options Left/Center/Right alignment icons will be pu

[2020-03-28 15:08] donroyco commented on #673
I am trying to fix this locally, but what should I add as a `class` to get the same look as before, but treating it as a button?

[2020-03-28 15:18] peterpeterparker commented on #673
First of all, @boradakash contacted me to inform me that he was also interested to have a look at this question. We exchanged about some questions but don't know if he already began to work on it? I hope you are not both on it...

About style, I'm not sure there is y a `class` for it. Can you create one?

I use the `type="button"` when there is a form and the button is not submitting it but to me

[2020-03-28 15:28] boradakash commented on #673
Hi @peterpeterparker , I didn't started it yet using <button>.
@donroyco can push the changes.

[2020-03-28 15:29] peterpeterparker commented on #673
Cool thx for the quick feedback @boradakash

And thank you both for your help, you are awesome!

[2020-03-28 17:23] peterpeterparker commented on #673
Thank you @donroyco for pushing forward the accessibility of DeckDeckGo 🙏

[2020-03-28 17:23] #673 closed

[2020-04-04 06:17] #669 closed

[2020-04-04 11:01] peterpeterparker commented on #670
Stencil issue has been solved

[2020-04-04 11:01] #670 closed

[2020-04-04 11:02] peterpeterparker commented on #167
Has been done with offline mod

[2020-04-04 11:02] #167 closed

[2020-04-04 11:44] #570 closed

[2020-04-05 06:31] boradakash commented on #680
Hey @peterpeterparker
I would like to give it try on this.
Can you assign me this task?

Thanks

[2020-04-05 06:32] peterpeterparker commented on #680
@boradakash sweet 👍

[2020-04-05 07:57] peterpeterparker opened #685 "inline-editor: bold, italic or underline highlighted if mixed style selected"
### Affected part of DeckDeckGo
- [X] Web Components

### Reproduction

If the selected text contains mixed style, like "**hello** world *hello*", then the inline-editor will display bold and italic as highlighted.

### Expected Behavior

In such case, because not everything is bold, italic or underline, these options should not be highlighted on opening.

### Screenshot

<img width="880" alt="Scr

[2020-04-06 16:49] #680 closed

[2020-04-10 05:16] peterpeterparker opened #687 "feat: add "Studio" as a PWA to Google Play"
### Affected part of DeckDeckGo
- [X] Studio
### Feature Description

Justin's tweet https://twitter.com/Justinwillis96/status/1248370695618195456

[PWABuilder](https://pwabuilder.com)

P.S.: It will need a file deployed with the bundle on the web server, therefore can be done within a release only

[2020-04-10 15:27] #67 closed

[2020-04-10 15:31] peterpeterparker commented on #67
Done. We are not going to use "password protected" presentation but the decks and their content is only going to be send to the remote if the presenter grand the request and access.

Each remote will receive a random number.  On each connection request, a popup will be displayed on the presentation with a text like "Can remote 11 22 33 access your presentation?" and then, it will be up to the pres

[2020-04-10 16:58] boradakash commented on #679
I'll give it a try on this.
Can you assign me?

[2020-04-10 16:59] peterpeterparker commented on #679
@boradakash awesome 👍

[2020-04-13 08:21] peterpeterparker commented on #675
`--prerender` removed from `remote`. Reinject once solved (as we are blocked there).

[2020-04-13 09:16] peterpeterparker opened #691 "feat: migrate to Workbox v5"
### Affected part of DeckDeckGo
- [X] Studio

 ### Feature Description

We are using Workbox v4.3.1, it would be cool to migrate our editor to Workbox v5.

 ### What to do

- upgrade [studio](https://github.com/deckgo/deckdeckgo/tree/master/studio), our editor, to the last version of Workbox

- migrate the script [sw.js](https://github.com/deckgo/deckdeckgo/tree/master/studio/src/sw.js) to match t

[2020-04-13 10:59] peterpeterparker commented on #679
@boradakash did you already began to work on this?

just noticed that it is maybe already implemented in the template itself (`--slide-split-text-align: center;`) means it has to be modified somewhere else...I've to search

[2020-04-13 11:06] boradakash commented on #679
I've asked you related question on slack. There's a css change in utils project.

[2020-04-13 11:07] peterpeterparker commented on #679
Coolio, gonna answer you on Slack ;)

[2020-04-13 15:23] peterpeterparker opened #696 "new component: Word cloud"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

This [tweet](https://twitter.com/walkingriver/status/1249699385509851136) gave me the idea that it would be cool to have a Web Components which generate a cloud of words.

### Technical solution

Maybe the component exposes a `<slot/>` and if something is passed,  transform the content to a cloud of words.

It can maybe

[2020-04-14 19:11] peterpeterparker commented on #679
PR  #693 provided by @boradakash is merged.

The util still need to be published to npm and rolled out in our apps. We will take care of this when we will release next version as it has to be synchronized with the starter kit too

[2020-04-15 15:02] dotNetkow opened #697 "[Windows] Running locally errors out"
### Affected part of DeckDeckGo
- [ ] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [X] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Begin with a Starter or [Ionic React presentation](https://github.com/ionic-team/present-ionic-react) on Windows 10.
2. Run "npm install" then "npm run start" to kick off local hosting.
3. The st

[2020-04-15 15:07] peterpeterparker commented on #697
@dotNetkow thx for the hint!

sounds like exactly like this issue https://github.com/deckgo/deckdeckgo-starter/issues/39 which we didn't solved yet.

it's a bug in the `clean-webpack-plugin` plugin which should be solved according issues I browser but well, seems not in our case.

P.S.:  if someone who develop on windows who help with this that would be cool

[2020-04-15 15:18] dotNetkow commented on #697
Yeah, Webpack, not DDG - DDG works like a charm. :)

Ah, sorry! Odd, GitHub didn't show that other issue when I was typing this up. Feel free to close as duplicate if you'd like.

[2020-04-15 15:21] peterpeterparker commented on #697
@dotNetkow no no it's good, it reminds us it's not solved and therefore still to be done.

the other one is in another repo, therefor it's good to have one here too as reminder and specially also for contributors in case someone would be up to solve it

[2020-04-18 11:29] peterpeterparker commented on #679
Done. We just need to deploy.

[2020-04-18 11:29] #679 closed

[2020-04-21 19:09] peterpeterparker opened #704 "font-weight: 700 h1 and h2"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Demo
- [X] Starter kit

### Feature Description

For more contrast on the titles, we should add more `font-weight` on `h1` and `h2` respectively set `700` as default

### Implementation

This can  be implemented in the common style shared across all presentations and apps: [deckdeckgo-deck-fonts.css](https://github.com/deckgo/deckdeckgo/blob/maste

[2020-04-21 19:27] peterpeterparker opened #705 "studio: more list style"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Currently we support "ordered" and "unordered" list. It would be may cool to support more style.

I can think on "checkmark" for example.

This feature has to developed in our [editor](https://github.com/deckgo/deckdeckgo/tree/master/studio).

### Get Started

If you need help to get started with this feature, I'll be happy to

[2020-04-22 05:08] peterpeterparker opened #706 "add links to CHANGELOG in monorepo README"
### Documentation Feedback

Moreover than links to the README of each components in the main [README](https://github.com/deckgo/deckdeckgo/blob/master/README.md) of the monorepo, it would probably be handy to also add and display links to their **CHANGELOG.md**

**Affected documentation page:**

https://github.com/deckgo/deckdeckgo/blob/master/README.md

[2020-04-23 05:59] peterpeterparker opened #707 "Transform white-space to a CSS in deckdeckgo/highlight-code"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

Request provided by @williamkwao in https://github.com/deckgo/gatsby-remark-highlight-code/issues/7

Another feature that I think will be nice to have is the ability to pass a CSS or config var that will enable library users to set the white-space property of the code block in the shadow dom. The code currently wraps an

[2020-04-24 02:03] williamkwao commented on #707
Thanks, @peterpeterparker! I'll start working on this.

[2020-04-24 05:41] peterpeterparker commented on #707
Sweet @williamkwao 👍

Ping me if you have any questions

[2020-04-24 05:44] peterpeterparker commented on #707
PS.: The component is there in our monorepo -> https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/highlight-code

[2020-04-25 07:06] boradakash commented on #622
Hey, Can I try this out?

[2020-04-26 05:33] peterpeterparker commented on #707
Nice!

I have released a new version of both the component and the related Gatsby plugin, doing so your two PRs should be now available.

Thx a lot @williamkwao 👍

[2020-04-26 05:33] #707 closed

[2020-04-26 06:03] peterpeterparker commented on #687
DeckDeckGo is available (as a PWA) in Google Play:

https://play.google.com/store/apps/details?id=com.deckdeckgo.twa

[2020-04-26 06:03] #687 closed

[2020-04-26 08:00] peterpeterparker opened #710 "inline editor: add strikethrough"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

Add "strikethrough" option to the inline editor web component

### Code

https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/inline-editor

[2020-04-27 14:15] davemaps opened #711 "View notes and slide control at same time"
### Affected part of DeckDeckGo
- [ ] Studio
- [X] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Feature Description

Notes could be viewed without obscuring the slide control interface when using remote control. Perhaps the slide controls (forward/back, timer, etc.) could appear on the top half of the phone screen, while the n

[2020-05-01 03:24] williamkwao commented on #707
Thanks! Will definitely look for more opportunities to contribute

[2020-05-01 11:55] peterpeterparker commented on #704
Solved in 713

[2020-05-01 11:55] #704 closed

[2020-05-02 09:13] peterpeterparker opened #715 "Showcase interacted apps and websites in presentations"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Web Components

### Feature Description

With the help of a new Web Component, it should be possible to showcase apps and websites in presentation.

The idea is to wrap these in <iframe/> inside a styled devices (ios or md) or browser.

In studio, user can toggle an element, select an url and if cross-origin allows it, then the apps or websites is

[2020-05-05 19:01] peterpeterparker opened #719 "cloud: deck screenshot emoji support"
### Affected part of DeckDeckGo
- [X] Cloud

### Reproduction

When a deck is published, a screeshot of the first slide is taken in the cloud in order to create the social image card.

Currently, this process doesn't seems to support emoji.

For example, the social card of the following deck doesn't render such emoji:

Deck: https://beta.deckdeckgo.io/daviddalbusco/1000-sign-ups/
Social card: http

[2020-05-06 17:02] peterpeterparker opened #720 "drawing"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Regarding drawing there are two features we have to develop

1. It should be possible to draw in the diagram template. Furthermore than being able to drop icons and gifs and images, drawing would be a big plus. The drawing should be part of the deck and therefore save in the db and published with it

2. It is currently possible

[2020-05-06 17:57] peterpeterparker opened #721 "template: codepen"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Starter kit
- [X] Template

### Feature Description

It would cool to be able to embed [codepen](https://codepen.io/) in presentations.

Spontaneously I'm thinking that having a new template, like Youtube one, would be a good solution.

[2020-05-07 17:27] #715 closed

[2020-05-10 13:13] peterpeterparker opened #726 "demo component: smoother resizing"
### Affected part of DeckDeckGo
- [x] Web Components

### Feature Description

The [demo](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/demo) works well but the way we handle resizing of the browser isn't that smooth. In order to make the contant, the contained  iframe, catch the new size, we apply a new `width` and `height` to the `iframe` and moreover we reload it's content, to

[2020-05-14 06:40] peterpeterparker opened #729 "studio: action "toggle/transform" onboarding"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

I kind of feel that it is clear for (new) users that you can choose between different kind of slides' templates but it might not be clear that for most of them, section can be modified (title, paragraph, images, code etc.).

That's why I think the onboarding or ux should be improved. I'm thinking on either

1. When user select

[2020-05-14 08:38] #622 closed

[2020-05-14 08:39] peterpeterparker commented on #622
Thx @boradakash for the awesome PR 👍

[2020-05-14 08:48] pattacini commented on #622
Great! Thanks!

[2020-05-14 08:50] peterpeterparker commented on #622
@pattacini thx you for the great idea!

p.s.: it is not yet  deployed in our online editor, we have to rollout the cloud first but hopefully soon

will [tweet](https://twitter.com/) about it when done :)

[2020-05-15 12:13] peterpeterparker commented on #544
Thx for the inputs @donroyco

I  implemented it with a new label + hex code. Like "White #ffffff" and if user select a custom color then "Custom #f32f23". I thought that's small win without too much engineering.

Also as of now, the opacity rate (like 88%) is also displayed.

<img width="1029" alt="Capture d’écran 2020-05-15 à 14 06 59" src="https://user-images.githubusercontent.com/16886711/820

[2020-05-15 12:13] #544 closed

[2020-05-16 06:35] peterpeterparker commented on #608
It looks like it isn't that a must. Therefore close it for now on at least.

[2020-05-16 06:35] #608 closed

[2020-05-16 08:46] peterpeterparker opened #733 "highlight-code: carbon theming"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

The [highlight-code](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/highlight-code) component has three display modes: `carbon`, `ubuntu` and `none`.

Carbon is of course inspired from the amazing [https://carbon.now.sh/](https://carbon.now.sh/).

The current style looks like the `Dracula` and I think it

[2020-05-16 08:54] peterpeterparker commented on #103
As we have introduced new graphical components, notably the `terminal` feature, this feature is replaced by https://github.com/deckgo/deckdeckgo/issues/733 which kind of has the same goal.

[2020-05-16 08:54] #103 closed

[2020-05-16 12:37] boradakash commented on #733
Can you assign this to me?
I'll give a try on it

[2020-05-16 12:51] peterpeterparker commented on #733
@boradakash coolio! sure

[2020-05-16 13:00] boradakash commented on #733
Well, I think we should add themes inside the component project.
Because I don't think that theming style will be re-used anywhere else as it's part of the highlight-code only.

[2020-05-16 13:05] peterpeterparker commented on #733
Yes not reuse anywhere else but more performant if only fetched if needed.

Let's do like that. First we add the themes inside the component and let's see afterwards what we do. Might also be easier to implement if done inside.

[2020-05-21 08:29] #733 closed

[2020-05-21 08:30] peterpeterparker commented on #733
@boradakash thx for the PR 👍

the component  has been released and integrated in our starter kit.
it has also been integrated to studio (but not yet released) and I'll take care of the  gatsby plugin after a short run ;)

[2020-05-25 14:01] peterpeterparker opened #741 "execCommand marked as obsolete"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Web Components (inline-editor and highlight-code)

### Feature Description

[Document.execCommand()](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand) has been marked as **obsolete**. Therefore, before not supported by the browser anymore (I'm guessing that it ain't gonna be tomorrow but someday), we should replace the usages.

[2020-05-25 18:48] #729 closed

[2020-05-28 14:33] peterpeterparker opened #743 "template: QR code sizing/spacing"
### Affected part of DeckDeckGo
- [X] Templates

### Issue

It seems that the QR code template doesn't calculate anymore the spacing and therefore the title slot end up being truncated

### Screenshot

<img width="1475" alt="Capture d’écran 2020-05-28 à 16 31 51" src="https://user-images.githubusercontent.com/16886711/83154867-ec045400-a100-11ea-97ff-5a1cb17dd53d.png">

[2020-05-31 19:29] #710 closed

[2020-05-31 22:19] Eccenux opened #751 "Share doesn't work in Firefox, RegExp issue"
### Affected part of DeckDeckGo
- [x] Studio
- [x] Demo

### Reproduction

Steps to reproduce:
1. Login
2. Type something in the title.
3. Click "Ready to share?"

### Expected Behavior

Use standard RegExp like `[\s\S]` if you want to match anything.

### Actual Behavior

[code]

Note that `s` flag is not supported in FF. Not sure why would you need one in a share button 😉.

### Environment

- Br

[2020-05-31 22:52] Eccenux opened #752 "remote: Problem with remote controll layout in Firefox Mobile"
### Affected part of DeckDeckGo
- [x] Remote control

### Reproduction

Steps to reproduce:
1. Create/open a presentation
2. Share.
3. Open with Firefox on Android.

### Expected Behavior

I should see Next/Previous buttons in full.

### Actual Behavior

Buttons are cut off
<img src="https://user-images.githubusercontent.com/1045235/83364209-f6904900-a39f-11ea-90a5-d3b5adad1abf.png" width="200" al

[2020-06-01 05:43] #751 closed

[2020-06-01 05:45] peterpeterparker commented on #751
Thx for the isse @Eccenux

It is solved and I've deployed a hot fix.

[2020-06-01 05:48] peterpeterparker commented on #752
Which version of Firefox are you  using?

I'm using  v76 and I don't face such issues.

<img width="767" alt="Capture d’écran 2020-06-01 à 07 47 11" src="https://user-images.githubusercontent.com/16886711/83379623-4bea4b80-a3dc-11ea-9645-e4ea2c2c0ab5.png">
<img width="767" alt="Capture d’écran 2020-06-01 à 07 47 15" src="https://user-images.githubusercontent.com/16886711/83379632-50aeff80-a3dc

[2020-06-01 17:14] Eccenux commented on #752
You are using desktop Firefox. Firefox on Android (mobile) is not the same thing. I use latest Firefox on Android. Note that this is probably an issue with hiding the address bar which is only a thing on mobile.

Also note that Firefox on and iPhone (as all other browsers) is just Safari based webview. So you can only really test on Android.

[2020-06-01 18:55] peterpeterparker commented on #752
Thx for the feedback, Firefox Mobile only, well noted.

Can you provide a PR?

[2020-06-02 23:18] Eccenux commented on #752
I didn't found any clear instructions on how to build the whole project... But I was able to figure out some details in devtools.

Note that you should also get nicer layout for Chrome too.

I think the \`app-remote\` needs some re-structuring:

1.  In `main` add a container with a class \`.deck-container\`.
2.  Put prev/next directly in the container (after .deck).
3.  Be sure that app-notes is o

[2020-06-03 04:41] peterpeterparker commented on #752
Thank you for the details. Not sure that it can be styled as you described above as the notes might be a separate component. Moreover the current classes, for example `.connected`, have to be preserved.

Also note that if it need to  be "re-structured", then it's important then it still work as expected: on any devices and with a different grid/presentation if portrait or landscape.

To start loca

[2020-06-03 16:55] peterpeterparker commented on #65
That has developed since a couple of months, the slides are reflected and displayed in the remote control.

[2020-06-03 16:55] #65 closed

[2020-06-03 16:56] peterpeterparker commented on #151
So far so good, we did not need any backup plan.

[2020-06-03 16:56] #151 closed

[2020-06-03 17:03] peterpeterparker commented on #190
#721 will closes this issue, we are going (soon, see [PR](https://github.com/deckgo/deckdeckgo/pull/754)) to add a template to embed codepen, jsfiddle and webcomponents.dev easily

Of course can be extended in the future

FYI @bjesuiter @Sakai-san, thx for your inputs!

[2020-06-03 17:03] #190 closed

[2020-06-05 06:54] #721 closed

[2020-06-06 23:30] Eccenux commented on #752
Hi. There seem to be some dependencies missing or something. I don't use Stencil in my projects maybe I need to install something globally?
[code]
Also not sure which Node version are you using? Tried Node 12 an 13.7.

[2020-06-07 02:01] Eccenux opened #757 "Remote app fullscreen toggle"
### Affected part of DeckDeckGo
- [x] Remote control

### Feature Description

Add a fullscreen button in the remote app.

### Use Case

Would be nice to have some extra space (about 3-4 cm on my phone). Especially when you want to use landscape mode.

Below should roughly work... But there are some weird scaling issues. Both in Chrome and Firefox. Not sure if this is an ionic problem or what. See

[2020-06-07 06:25] peterpeterparker commented on #752
It's is live.

Thx @Eccenux for the issue and PR, awesome 👍

[2020-06-07 06:25] #752 closed

[2020-06-07 06:39] peterpeterparker commented on #757
Probably because this use case "deck embedded" use in an app which itself can toggle between standard and full screen mode hasn't be developed so far respectively is not yet supported.

The root font size of the deck is per default set to `32px` in full screen mode.

Moreover it would probably also need some enhancement in the core Web Component (and others?).

[2020-06-11 04:01] peterpeterparker opened #760 "starter: mardkown support v2"
### Affected part of DeckDeckGo
- [X] Starter kit

### Feature Description

Our first language is HTML. The [markdown](https://github.com/deckgo/deckdeckgo/tree/master/webpack/src/markdown) converts MD to Html.

Even though it does the job, it would need some love and I think it can definitely be improved, a lot.

If anyone is interested to improve this markdown support, and probably even rewrite

[2020-06-14 07:51] peterpeterparker opened #762 "web components and utils CI/CD"
### Affected part of DeckDeckGo
- [X] Web Components
- [X] Utils

### Feature Description

I integrate and release all our Web Components and utils manually in our projects.
This has to be optimized and should be done automatically.

For example, has soon as I release a WC, it should be added to all our apps or at least some PR should be created automatically.

### Use Case

Web Components and Uti

[2020-06-15 18:59] peterpeterparker commented on #719
This is the related issue of Puppeeteer in Firebase: https://github.com/puppeteer/puppeteer/issues/4086

[2020-06-15 19:00] #659 closed

[2020-06-18 14:59] peterpeterparker commented on #675
The prerendering issue itself should be closed but we  can't upgrade right now because of a rollup related error https://github.com/ionic-team/stencil/issues/2461

[2020-06-19 16:26] peterpeterparker opened #767 "cloud firestore incompatible with puppeteer > v3"
See [issue](https://github.com/puppeteer/puppeteer/issues/5674)  which I am still able to reproduce even if closed.

[2020-06-20 06:23] peterpeterparker commented on #767
This is actually the issue to follow: https://github.com/puppeteer/puppeteer/issues/5704

[2020-06-20 17:14] peterpeterparker opened #769 "studio: add a public profile page (?)"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

As [Dev.to](https://dev.to/daviddalbusco/) maybe we could add a public profile page for users.

It can contains the properties of the user accounts (twitter, links, name, picture) and the list of published presentations.

Once we have such page, we can link these with the cards on the main feed.

Finally it needs an option in t

[2020-06-21 13:26] ryor1986 commented on #767
@peterpeterparker Do you have any update or schedule to fix?

[2020-06-21 13:32] peterpeterparker commented on #767
@ryor1986 on our side we have reverted to V2, so our production (our web editor) works fine

The puppeteer itself I don't know more than you, the issue to follow is: https://github.com/puppeteer/puppeteer/issues/5704

[2020-06-25 16:51] #675 closed

[2020-06-28 11:07] peterpeterparker opened #773 "studio: technical improvements / refactoring"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

1. replace rxjs with @stencil/store  ✅

- we mostly use it as store and there are others solutions which would make the code less verbose (subscribing to apply value to a state)
- using a store can be interesting to implement i18n #370
- should we try the [stencil store](https://stenciljs.com/docs/stencil-store)?

2. get rid of

[2020-06-28 14:39] peterpeterparker commented on #370
It seems like, according a quick test and chat on slack and finding of [Franco Vales](https://twitter.com/francoxavier33), that out of the box, as long as routes are used/declared somewhere in the app, it is possible to prerender the languages routes  with lang prefixes as for example  `https://deckdeckgo.com/en/index.html`

<img width="1440" alt="Capture d’écran 2020-06-28 à 16 31 00" src="http

[2020-07-02 10:06] peterpeterparker commented on #773
We are actually using uuid also to generate an id if a new slide is created offline, id which remains as db id when this offline slide is pushed back online. For that reason, we stick to uuid right now.

Async / await I'll do that slowly  like ongoing improvements.

Store has been done.

[2020-07-02 10:06] #773 closed

[2020-07-02 13:32] peterpeterparker opened #780 "studio: lighthouse notify that link preload are ignored / CSP issue"
### Affected part of DeckDeckGo
- [X] Studio

### Reproduction

Lighthouse is notifying that a list of `<link preload>`  are ignored by the browser. I try to debug the issue and noticed that it happens because scripts can't be preloaded due to our CSP policy.

Unfortunately, didn't found how to solve it 😞.

I'll be happy to get any  help specially on that one!

### Lighthouse warning

[code]

###

[2020-07-13 15:43] peterpeterparker opened #795 "refactoring: remove socket.io in favor of native Websocket"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Remote control
- [X] Poll
- [X] Backend

### Feature Description

We often have got Rollup problems because of socket.io-client which is not a modern library.
Moreover socket.io doesn't seems that active anymore at first sight (last release of socket.io-client > 1.5 years old).
Finally, Websocket is a standard.

That's why we should migrate from s

[2020-07-13 19:28] peterpeterparker commented on #780
See related Lighthouse issue, it will be solve with a next Chrome release.

[2020-07-22 05:55] peterpeterparker commented on #741
I'm on it. Got a small proof of concept.

[2020-07-28 11:45] donroyco opened #812 "studio(a11y): aria-labels are incorrectly implemented (typo)"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Go to https://deckdeckgo.com/team/
2. Inspect the social icons

### Expected Behavior

To see an `aria-label` for each social icon. It could then be ready by a screenreader.

### Actual Behavior

[2020-07-28 12:04] donroyco opened #814 "studio(team): social icons are not shown"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Go to https://deckdeckgo.com/team/
2. Look at social icons

### Expected Behavior

I expect to see five social icons.

<img width="548" alt="Screenshot 2020-07-28 at 13 56 21" src="https://user-i

[2020-07-28 13:36] donroyco opened #815 "studio: add rel to outgoing links for security reasons"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Feature Description

**Links to cross-origin destinations are unsafe**

Read further [in web.dev documentation ](https://web.dev/external-anchors-use-rel-noopener/)

To add this to your outgoing URLs, it will help the security of yo

[2020-07-28 17:15] #812 closed

[2020-07-28 17:21] #815 closed

[2020-07-28 17:22] peterpeterparker commented on #815
I have learned something, thank you Roy 🙏

[2020-07-28 17:23] #706 closed

[2020-07-28 17:53] #814 closed

[2020-07-28 17:54] peterpeterparker commented on #814
Not good:

[code]

Good:

[code]

Don't ask 🤷‍♂️

Thank you for the issue, should be solved with PR #818

[2020-07-28 17:57] peterpeterparker commented on #814
P.S.: Could not test locally neither so I used our [staging](http://deckdeckgo-studio-beta.web.app/)

Funny thing, I also only noticed the error when accessing the page [team](http://deckdeckgo-studio-beta.web.app/team) directly. If I was navigating from home for example, all was fine.

[2020-07-28 18:52] donroyco commented on #815
@peterpeterparker You're welcome.

[2020-07-28 19:09] donroyco opened #819 "studio(a11y): add warning when colors do not meet contrast ratio"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Feature Description

When using the editor, a warning could be shown when the foreground color compared to its background color do not meet contrast ratio WCAG 2.0 requirements.

Resources:
- [WebAIM](https://webaim.org/resources/co

[2020-07-28 19:19] peterpeterparker commented on #819
I love the idea!

Don't know how technically (yet), specially when the deck's or slide's background is an image, neither how to make this shine in terms of design, but I really like the idea and definitely see the asset here!

Thx for sharing 👍

[2020-07-30 15:42] donroyco opened #821 "studio(a11y): toolbar options skips some options"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Go to editor
2. Add one element (so you have Deck > Slide > Element).
3. Enable VoiceOver (macOS).
4. Navigate back to Deck
5. Try to reach **Add Slide** or **Style**  in toolbar with keyboard na

[2020-07-30 15:51] donroyco opened #822 "studio: some non descriptive icon titles are shown when hovering toolbar options"
### Affected part of DeckDeckGo
- [x] Studio

### Reproduction

Steps to reproduce:
1. Go to editor.
2. Add one element (so you have Deck > Slide > Element).
3. Hover over toolbar options

### Expected Behavior

To not see the titles or see a descriptive title.

### Actual Behavior

![20200731-bug-icon](https://user-images.githubusercontent.com/1763537/88944362-ec4dd680-d28c-11ea-990b-ee00c47fb03c

[2020-07-30 16:21] peterpeterparker commented on #821
Because you are highlighting `<app-action-busy>` I spontaneously think that it might be a side effect of removing and migrating from rxjs to the stencil store. Maybe because of that, the "event / state" is not well handled and therefore the slide step remain disabled.

I have to check. In any case, well spotted and thank you for opening the issue!

[2020-07-30 16:23] peterpeterparker commented on #822
Definitely. Moreover all icons are labeled in the root [assets.json](https://github.com/deckgo/deckdeckgo/blob/a04987bf32eb31fdeaf335b1fe13b2770743a7d2/studio/src/assets/assets.json#L211) file. We "just" have to use these...

[2020-07-30 16:24] peterpeterparker commented on #822
Thank you Roy!

[2020-07-31 14:09] peterpeterparker commented on #821
Mmmmh it actually worked out for me 🤔

<img width="1440" alt="Capture d’écran 2020-07-31 à 16 09 06" src="https://user-images.githubusercontent.com/16886711/89043090-4495de80-d348-11ea-9f64-a54b048f1a4c.png">

[2020-07-31 14:30] peterpeterparker commented on #822
@donroyco these kind of buttons are declared as following with an `aria-label`

[code]

what would be your suggestion for a proper accessibility? should a `title` identical to the `aria-label` be added to the icon?  Means for the element twice the information or "just" the `title` or else?

actually kind of a general question for all the buttons with icons of the application

[2020-07-31 14:47] Zegoverno opened #825 "error on running npm run start on deckdeckgo/studio"
Error: Package exports for '/Users/zegov/workspace/deckdeckgo/studio/node_modules/colorette' do not define a
           valid '.' target at resolveExportsTarget (internal/modules/cjs/loader.js:545:13) at applyExports
           (internal/modules/cjs/loader.js:459:14) at resolveExports (internal/modules/cjs/loader.js:508:12) at
           Function.Module._findPath (internal/modules/cjs/loader.js:57

[2020-07-31 14:49] fluffynuts opened #826 "Login does not work on current Firefox Nightly (81.0a1 (2020-07-29) (64-bit))"
### Affected part of DeckDeckGo
- [x] Login
- [ ] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Open deckdeckgo.com with Firefox Nightly
2. Attempt to log in (I tried via GitHub)
3. Log in at auth provider
4. When redirected back to deckdeckgo.com, I'm still presented with the d

[2020-07-31 14:53] peterpeterparker commented on #825
I can't reproduce the issue. If you think there is indeed one, please provide more details, thx in advance.

[2020-07-31 14:53] #825 closed

[2020-07-31 14:55] peterpeterparker commented on #826
Nice thank you! We should keep an eye on this, let's see if it is a nightly "issue" or if it needs an update of FirebaseUI

[2020-07-31 16:53] fluffynuts opened #827 "Cannot use DeckDeckGo in Firefox Private Window"
### Affected part of DeckDeckGo
- [x] All of it (:
- [ ] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:
1. Open Firefox Private Window
2. Attempt to launch deckdeckgo.com
3. White screen

### Expected Behavior

DeckDeckGo goodness!

### Actual Behavior

Just got a white screen )':

[2020-07-31 16:56] fluffynuts commented on #826
I agree that sometimes FFN introduces oddnesses that go away after a round of reports & bug-fixing (which reminds me: if you can get more info, it would be good to log an issue with Mozilla -- I'll gladly help, though I have no idea where to start with your stack); sometimes, however, FFN acts as the canary in the mine, warning of the impending doom that's going to eventually come everywhere (eg s

[2020-08-01 10:22] donroyco commented on #821
@peterpeterparker It's about the toolbar options, not the breadcrumbs

[2020-08-01 10:23] donroyco commented on #822
I think the buttons are correctly labeled, but the title *inside the actual SVGs* get triggered by hovering over them.

[2020-08-01 12:27] peterpeterparker commented on #822
add a `title`on the icon, if the button is already labelled, won't have a a11yn "bad" side effect right? like for screen reader?

if no, let's do that then

[2020-08-01 12:31] peterpeterparker commented on #821
oh I see thx. there is also the issue (if slide or elements are selected) that the button are now remove but "hidden" and still in the tab list

<img width="1440" alt="Capture d’écran 2020-08-01 à 14 29 56" src="https://user-images.githubusercontent.com/16886711/89101782-9cdde680-d403-11ea-9258-189379f13890.png">

[2020-08-02 10:48] donroyco commented on #822
Well, the main purpose of an `aria-label` on `ion-tab-button` is to give an understanding of what the button does (for screen readers). If you have that, *plus* you give the icon inside it a title, it will only make it less obvious what is going on. Because it could be trying to read both after each other.

Maybe this is then a good solution, also [based on this article by Sara Soueidan](https://w

[2020-08-04 19:34] peterpeterparker commented on #685
It should be better once https://github.com/deckgo/deckdeckgo/issues/741 solved,  therefore I close this one.

[2020-08-04 19:34] #685 closed

[2020-08-06 12:59] peterpeterparker commented on #150
well did not  had the time so far, might never had the time, therefore, close.

[2020-08-06 12:59] #150 closed

[2020-08-06 13:18] #741 closed

[2020-08-06 13:21] #327 closed

[2020-08-07 06:36] peterpeterparker commented on #827
Related issues I found:

https://github.com/firebase/firebase-js-sdk/issues/801

https://github.com/firebase/firebase-js-sdk/issues/2373

And this seems the open feature at Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1562669

[2020-08-07 09:55] peterpeterparker commented on #827
Ok so actually this is not a Firebase issue but rather a Firebase Incognito mode related to IndexedDB and idb-keyl

This is the issue about it: https://github.com/jakearchibald/idb-keyval/issues/32
And the solution to make  it works in Firefox seems to be by enabling `remember history`

[2020-08-07 10:12] #827 closed

[2020-08-07 10:17] peterpeterparker commented on #827
I  have to say I went with the cheapest solution aka adding a `console.error` over the authentication. In order to be able to display the app and a message that would need more time so I think it is ok in that way. I hope you share this point of view.

Thanks again for raising the issue.

<img width="1315" alt="Capture d’écran 2020-08-07 à 12 15 25" src="https://user-images.githubusercontent.com

[2020-08-07 13:09] peterpeterparker commented on #822
not directly related but I should have solved the a11y of the toolbar and breadcrumbd in #832

next one the "select elements with  tab" will probably be all the popover options, still todo

[2020-08-07 13:58] peterpeterparker commented on #822
so good news, I've created a PR following your last suggestion with `aria-hidden` #833

bad news, ionicons can't handle currently such settings, see old issue https://github.com/ionic-team/ionicons/issues/710

I should try to  find more info about this

[2020-08-09 19:17] peterpeterparker opened #841 "studio: improve Google PageSpeed results"
### Affected part of DeckDeckGo
- [X] Studio

### Stencil issues

- [does not use passive listeners to improve scrolling performance](https://github.com/ionic-team/stencil/issues/2621)

- [prerender ignores native image lazy-loading](https://github.com/ionic-team/stencil/issues/2623)

### Expected Behavior

Issues noticed  by https://developers.google.com/speed/pagespeed/insights/ being  solved.

[2020-08-13 07:14] peterpeterparker commented on #286
As of v2.2.0 we are not going to display the pager anymore, therefore, issue solved ;)

[2020-08-13 07:14] #286 closed

[2020-08-13 07:26] peterpeterparker commented on #821
Oh, I actually solved that on in https://github.com/deckgo/deckdeckgo/pull/832 :)

[2020-08-13 07:26] #821 closed

[2020-08-14 07:04] peterpeterparker commented on #822
I have provided a PR to the Ionicons to support `aria-hidden`: https://github.com/ionic-team/ionicons/pull/869

[2020-08-17 15:10] #819 closed

[2020-08-17 15:12] peterpeterparker commented on #819
thank you for the excellent idea @donroyco !!!

it will be (soon) released with v2.2.0 :)

[2020-08-17 15:16] peterpeterparker opened #845 "studio(a11y): caculate background image color and improve contrast checker"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

In #819 we have added a "contrast checker" for the slides' contrast. It works with colors (with or without opacity) but does not yet amend background images.

### Use Case

It would be nice, if possible and if performant, to improve the contrast checker with the background images. Maybe it is possible to calculate on the fly an

[2020-08-17 15:21] peterpeterparker opened #846 "studio: support undo (Ctrl+Z)"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

We don't fully support undo currently. We rely on the browser for text undo but as soon as we style or change properties, the queue does not amend / add the last actions.

### Use Case

We can probably use idb to save deck attributes, slides attributes and slots. Then on each undo / ctrl + z we replace the corresponding element

[2020-08-19 09:57] yuchanns opened #848 "Cannot read property 'tokenizePlaceholders' of undefined"
Related issue https://github.com/PrismJS/prism/issues/1395

Cannot highlight code language php since `The dependency for PHP has changed`.

Solution: `include the component markup-templating in addition`.

[2020-08-19 16:37] peterpeterparker commented on #848
Thx for the issue, you are right, for languages as PHP, other dependencies  have to be loaded on the fly.

I should try  fetch  the [definition](https://github.com/PrismJS/prism/blob/5c33f0bbcf77b468b2f2b5944c9a9f04342c0bae/plugins/autoloader/prism-autoloader.js#L11) before or at build time of our WC and use  it to download on the fly what's needed.

[2020-08-21 06:51] #848 closed

[2020-08-21 07:03] peterpeterparker commented on #848
the issue has been solved and the web component has been spread in all our apps and in the gatsby plugin for which I published a new version/fix too.

thx for the issue @yuchanns 👍

[2020-08-24 14:13] Artur- opened #852 "Using @deckdeckgo/color with webpack does not seem to work"
### Affected part of DeckDeckGo
- [ ] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [X] Web Components: color
- [ ] Templates

### Reproduction

Steps to reproduce:
1.
[code]
2. Add ` <deckgo-color></deckgo-color>` to `src/index.html`
3. Follow https://docs.deckdeckgo.com/components/color/ and add `import '@deckdeckgo/color';` to `src/scripts/index.js`
4

[2020-08-24 14:51] peterpeterparker commented on #852
Thank you for the well detailed issue @Artur-  👍

The component is not loaded as the `loader` has to be use with such `webpack` project.

As in the [doc](https://docs.deckdeckgo.com/components/color/), instead of the `import '@deckdeckgo/color';`, you can do as following.

[code]

I tried your given steps and it worked out (see screenshot). Therefore I close this issue but  if you have more questi

[2020-08-24 14:51] #852 closed

[2020-08-29 11:00] peterpeterparker commented on #613
Solve  in https://github.com/deckgo/deckdeckgo/pull/851/commits/273559a4209165979c91fd446995b7e7396aa535

[2020-08-29 11:00] #613 closed

[2020-08-29 19:30] peterpeterparker opened #856 "studio: display regions in services list"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Moreover than listing the services we are using on a dedicated page (https://deckdeckgo.com/services), we should also, in order to be even more transparent, display in which region we do have set our clouds.

### What to do

Add / display the location of the clouds  on the [services](https://deckdeckgo.com/services) page.

The

[2020-08-30 16:47] tiptronic opened #857 "Add MQTT as option to remote control my presentation"
### Affected part of DeckDeckGo
- [ ] Studio
- [x] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Feature Description
Adding MQTT as option to remote control could be a nice fit:

MQTT is built around channels, which are defined by
MQTT uses a common publish/subscript architecture, where a client subscribes to a certain `topic`.

[2020-08-31 08:24] nmattia commented on #856
AWS is us-east-1 (Virginia)

[2020-08-31 14:45] peterpeterparker opened #858 "upgrade to Stencil v2 and drop (if possible) custom-elements-polyfill in starter"
### Affected part of DeckDeckGo
- [X] Studio
- [X] Remote control
- [X] Documentation
- [X] Demo
- [X] Starter kit
- [X] Poll
- [X] Web Components
- [X] Templates

### Features

-  upgrade  to Stencil v2 (and don't opt-in for the IE support)
-  remove custom-elements polyfill in starter if possible  (check browsers compatibilities)

[2020-09-01 14:06] peterpeterparker opened #859 "API crash on unique constraint"
### Affected part of DeckDeckGo
- [X] API

### Reproduction

Steps to reproduce:

1. Sign in in Studio with a brand new user, as for example `nicolas.hello@gmail.com` (note the domain name)
2. Within the logging, the API will generate a new **username** for the user as for example `nicolas`

3. Sign out

4. Sign in in Studio with another new user, having the same email prefix but another domain, a

[2020-09-03 07:32] peterpeterparker opened #861 "docs: add version and license badges to README.md"
### Documentation Feedback

I noticed on the [Stencil](https://github.com/ionic-team/stencil) that two interesting badges are displayed in its README.md files. These two displays easily which version is available in NPM and which licensing is used.

I think we can add these two to our README.md (in any web components, utils, etc.) too.

### Code

In Stencil it is  solved as following:

[code]

In

[2020-09-05 10:41] peterpeterparker opened #864 "remote: support force / pressure sensitivity for drawing"
### Affected part of DeckDeckGo
- [X] Remote control

### Feature Description

With our remote control, it is possible to draw over presentations. As displays by @nyxtom in his article on [Dev](https://dev.to/nyxtom/realtime-collaborative-drawing-with-canvas-and-webrtc-2d01), it is possible to detect pressure in Safari using `webkitForce`.

In addition, on touch devices, seems that the property [T

[2020-09-05 11:09] peterpeterparker commented on #795
Another options is to rewrite everything and use HTTP Cloud Functions to exchange WebRTC and Poll information...

[2020-09-05 11:37] peterpeterparker opened #865 "studio: border-radius"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

In the editor, users can modify the color, background color and text alignment of text elements (titles and paragraphs).

It would be nice to enhance these options by notably letting users style `box-shadow` and `border-radius` of these elements.

### Where to start

Probably the easiest way to start is to have a look at the [<

[2020-09-05 15:27] nmattia commented on #859
Fixed in a039ce921fd40acbc5aa986101f1c30314549053

[2020-09-05 15:27] #859 closed

[2020-09-06 07:59] peterpeterparker opened #869 "kit: prompt user to reload when a new version is available"
### Affected part of DeckDeckGo
- [X] [Studio kit](https://github.com/deckgo/studio-kit)

### Feature Description

The goal of this feature is to detect, with the service worker, when a new version is available and to prompt the user to reload its presentation to get the last update.

### Tech

This feature has to be implemented in the [studio kit](https://github.com/deckgo/studio-kit).

In  this

[2020-09-06 08:03] #858 closed

[2020-09-06 08:03] peterpeterparker commented on #355
we are going to implement a prompt to ask users to reload: #858

[2020-09-06 08:03] #355 closed

[2020-09-12 10:18] boradakash commented on #861
I'll look into this, can you assign it to me?

[2020-09-12 10:21] peterpeterparker commented on #861
Sure (done)!

Thx  🙏

Btw. there is no rush, if you plan to take part to **hackoberfest** and want to solve it in October to get some karma, you are most welcomed to do so!

[2020-09-17 10:09] peterpeterparker opened #874 "studio: svg waves for deck or slide background"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Being able to generate a wave as svg for the background of the deck or slide.

Basically, [https://getwaves.io/](https://getwaves.io/) but integrated into DeckDeckGo.

Currently you can select a background color or an image (custom, gif, unsplash). These are going to be applied to either  deck or slide background. The  idea wou

[2020-09-17 10:15] peterpeterparker opened #875 "infra: new api end point to generate and get index.html content"
### Affected part of DeckDeckGo
- [X] Infra
- [X] Cloud

### Feature Description

As already discussed, it would be useful to create a new infra end point which basically process all the publish steps of parsing, including the calculation of the js hash, and, instead of writing the presentation in a bucket and deploying it only, would "just" return the  content of the generated `index.html`.

###

[2020-09-19 07:02] peterpeterparker commented on #62
This is done as we are not shipping these with the studio-kit  anymore but referencing these on our website.

[2020-09-19 07:02] #62 closed

[2020-09-19 07:03] peterpeterparker commented on #61
this will be solved with a full rework of the markdown support https://github.com/deckgo/deckdeckgo/issues/760

[2020-09-19 07:03] #61 closed

[2020-09-20 08:02] peterpeterparker opened #879 "studio: rm www before build"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

Delete the `www` folder (aka `rm -rf www`)  before `npm run build` and `npm run build-staging`.

### Use Case

Currently, when I build locally [studio](https://github.com/deckgo/deckdeckgo/tree/master/studio), our editor, the bundle is not valid if I don't delete first the output folder.

In addition, this would help detect "cl

[2020-09-22 16:06] peterpeterparker opened #880 "core: refactor pager to a standalone component"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

The core of DeckDeckGo contains a pager which can be used as described in the [documentation](https://docs.deckdeckgo.com/deck/pager).

Earlier the pager was displayed per default and was an opt-out option but recently things changed and the pager as become an opt-in option as its display is now set per default to `none

[2020-09-24 15:44] thomasledoux1 commented on #865
I'd like to pick this up!

[2020-09-25 10:49] peterpeterparker opened #881 "studio: box-shadow"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

In the editor, users can modify the color, background color and text alignment of text elements (titles and paragraphs).

It would be nice to enhance these options by notably letting users style `box-shadow` of these elements.

### Get Started

This feature request is a split of #865 which contains the description and informati

[2020-09-25 10:52] thomasledoux1 commented on #881
I'd like to pick this one up!

[2020-09-25 16:10] Justobioma commented on #760
Hi @peterpeterparker
I would love to help. I am shooting you an email right away.
Cheers
Regards
@justobioma

[2020-09-25 16:11] peterpeterparker commented on #760
Awesome!

[2020-09-25 16:29] peterpeterparker commented on #880
@boradakash will take care of that one

[2020-09-26 08:12] peterpeterparker opened #882 "studio: missing CSS oveflow hidden in list of fonts"
### Affected part of DeckDeckGo
- [X] Studio

### Actual Behavior

Not yet in production, but in master branch, in the style options of the presentation, the list of fonts displayed in `div` is missing a CSS style `oveflow: hidden`

### Expected Behavior

No ugly overflow 😉.

### Reproduction

Steps to reproduce:

[code]

create a new presentation and select the style of the deck.

### Screenshot

[2020-09-26 08:24] zh-betina commented on #882
@peterpeterparker Hi, I'd like to help but it would be my first-time contribution here on GitHub, I hope I won't mess up anything. 🙂

[2020-09-26 08:28] peterpeterparker commented on #882
@zh-betina awesome, thank you for your help 🙏

no worries, you won't mess up anything 😉

if you need any assistance let me know, happy to help.

ps.: note, if you are taking part to hacktoberfest, of course this issue can wait till October

[2020-09-26 08:30] zh-betina commented on #882
@peterpeterparker That's right! I'm participating and that's how I found this issue. Thank you so much :) 🙏I'll ping you if I get lost.

[2020-09-26 08:31] peterpeterparker commented on #882
sounds like a plan, thx!

[2020-09-26 08:45] TheIllusionistMirage commented on #705
Hi @peterpeterparker , I would like to work on this issue.

[2020-09-26 09:45] peterpeterparker opened #883 "docs: new option direction (horizontal, vertical and papyrus)"
### Documentation

The presentations used to be swipable **horizontally** but we recently enhanced this. We are going to introduce the ability to swipe  **vertically** and also developed a new mode we called **papyrus** which  basically transform  a presentation into a "landing page".

These options  can be set on the `deckgo-deck` main component with the properties `direction` and `directionMobil

[2020-09-26 11:57] DaniAcu commented on #883
Maybe I will have some doubts, but I would like to take it. 😄

[2020-09-26 12:10] peterpeterparker commented on #883
Awesome! Thank you for your help @DaniAcu

Yeah I know it is not that clear but it is something brand new which even live yet in our editor but, I just updated all our kits with it  so you can easily give it a try. You should be able to create a new presentation locally with `npm init deckdeckgo` (choose HTML).

After you have started your presentation locally (`npm i && npm run start`), then you

[2020-09-26 18:00] Justobioma commented on #760
Hi David,
How are you doing?
I just want to be double sure. The two documents I need to rewrite are CHANGELOG.md and README.md.
I have them on my local machine now and ready to kick off!

Obioma

​

Obioma Osuagwu
Lagos, Nigeria

________________________________
From: David Dal Busco <notifications@github.com>
Sent: Friday, September 25, 2020 6:45 PM
To: deckgo/deckdeckgo <deckdeckgo@noreply.githu

[2020-09-26 18:10] peterpeterparker commented on #760
Hi Obioma,

I am fine and what about you?

Actually no, that is not the goal of the issue.

The goal is to create a fully new Makdown parser which should transform the presentations written in Markdown to HTML.
This should probably be developed by writing a all new Webpack Plugin.

Would that works for you?

Best regards
David

[2020-09-26 19:15] Justobioma commented on #760
Ok. Thanks for the clarification.Much clearer now.I will work on that now.ObiomaOn 26 Sep 2020 7:11 PM, David Dal Busco <notifications@github.com> wrote:

Hi Obioma,

I am fine and what about you?

Actually no, that is not the goal of the issue.

The goal is to create a fully new Makdown parser which should transform the presentations written in Markdown to HTML.

This should probably be developed

[2020-09-26 19:18] peterpeterparker commented on #760
@Justobioma nice! let me know what's your concept, looking forward to hear about it.

[2020-09-26 19:31] Justobioma commented on #760
Sure, I will keep you updated on this.

Obioma

________________________________
From: David Dal Busco <notifications@github.com>
Sent: Saturday, September 26, 2020 9:18 PM
To: deckgo/deckdeckgo <deckdeckgo@noreply.github.com>
Cc: Obioma Osuagwu <justobioma@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [deckgo/deckdeckgo] starter: mardkown support v2 (#760)

@Justobioma<https://g

[2020-09-27 09:44] Justobioma commented on #760
Hi David,My plan is to build the parser using Regular expressions with JavaScript.I hope this falls in line with your methodologies.Let me know please.ObiomaOn 26 Sep 2020 8:31 PM, Obioma Osuagwu <justobioma@outlook.com> wrote:

Sure, I will keep you updated on this.

Obioma

From: David Dal Busco <notifications@github.com>
Sent: Saturday, September 26, 2020 9:18 PM
To: deckgo/deckdeckgo <deckdeck

[2020-09-27 10:28] peterpeterparker commented on #760
Hi @Justobioma,

Thx for the answer. Beside the technical part I am more  interested in the concept.

Let's say a use start a presentation with our CLI (`npm init deckdeckgo`) and select MARKDOWN.

Now, he/she is about to  write his/her first slide in `index.md`, what does he/she enter? what code?

Concretely, let's say the [title](https://docs.deckdeckgo.com/slides/title) template would be use, w

[2020-09-27 10:43] Justobioma commented on #760
Thanks David,

This is becoming clearer by the day. Let me get back to you soon on this. I think I have to dive in deeper to understand better.

Cheers

​

Obioma Osuagwu
Lagos, Nigeria

________________________________
From: David Dal Busco <notifications@github.com>
Sent: Sunday, September 27, 2020 12:28 PM
To: deckgo/deckdeckgo <deckdeckgo@noreply.github.com>
Cc: Obioma Osuagwu <justobioma@outl

[2020-09-27 11:28] peterpeterparker commented on #880
@boradakash finds out that this can't be so easily or without too much complexity probably implemented, as the pager needs inputs (index and length).

therefore I assign it to myself, just to think a bit about it and if not possible easily, gonna close it.

thx akash!

[2020-09-27 11:33] boradakash commented on #879
can you assign me to this one?

[2020-09-27 11:35] peterpeterparker opened #888 "studio: letter spacing"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

In the editor, users can modify the color, background color etc. of text elements (titles and paragraphs).

We've got two improvements in the making to add [border-radius](https://github.com/deckgo/deckdeckgo/issues/865) and [box-shadow](https://github.com/deckgo/deckdeckgo/issues/881).

It would be maybe nice to enhance these

[2020-09-27 11:35] peterpeterparker commented on #879
awesome!

[2020-09-27 12:40] thomasledoux1 commented on #888
@peterpeterparker I can pick this one up!

[2020-09-27 12:41] peterpeterparker commented on #888
Sure, it  look alike the two other one you are currently making, it matches well!

Thx Thomas

[2020-09-27 18:07] anup-a commented on #874
Shall I work on this ?  would look cool tbh
![image](https://user-images.githubusercontent.com/29516633/94372270-d0926f80-0119-11eb-9bfe-35be2d0162fd.png)

I think a good place to add would be in the image container ....  & something like toggle should work.
Also what all customization buttons are you looking for ?  opacity, color?

[2020-09-27 18:17] peterpeterparker commented on #874
@anup-a thx for reaching out!

just to be sure before going further, is the scope feature request clear for you respectively it is not a library we are looking to add, the svg generator itself as to be developed. would that work for you?

basically the example/screenshot I gave above have to be implemented from scatch.

[2020-09-28 06:21] anup-a commented on #874
@peterpeterparker definitely looking ahead to work on this 🦄.  I just need some time to look into bezier-spline functions ( and some maths ) ...

[2020-09-28 06:31] peterpeterparker commented on #874
Cool  @anup-a ! I assigned you the task.

### SVG Generation

Not sure if it needs bezier-spline and  other complexity. I  found the following example yesterday, maybe it can help?

https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections

Maybe we can even  implement such a generator if easier?

### About the UX

so yes, it is the right place. Not sure if all the options should find  p

[2020-09-28 07:03] anup-a commented on #874
I found getwaves.io generator more easier to use .... Intially I'll try to implement something like getwaves.

Q and C you see in svg paths are nothing but bezier quadratic and cubic functions.

[2020-09-28 07:04] peterpeterparker commented on #874
Sounds super to me! Keep me posted and if you have questions or need help, ping me anytime.

[2020-09-28 15:23] hjades commented on #856
hey! can i pick this up for hacktoberfest? thanks~ 😃

[2020-09-28 15:39] peterpeterparker commented on #856
Sure, awesome! Thx @hjades 🙏

[2020-09-28 15:49] boradakash commented on #869
I would like to take this one up, can you assign me?

[2020-09-28 15:53] peterpeterparker commented on #869
Awesome

[2020-09-28 16:47] peterpeterparker opened #889 "core: swipe and fade animation 60fps with requestAnimationFrame"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

Our [core](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/core) components takes care of displaying the slides. The transition happening when switching slides can happens either instantly or with an animation.

This animation can either be `swipe` or `fade`.

In both cases, CSS variables are set though J

[2020-09-28 18:19] peterpeterparker commented on #880
actually it is possible without properties. the deck emits events with the information need to init both length and active index, therefore it is possible to listen to these existing events. Therefore, I set back the flag `hacktoberfest`, I think it can developed.

[2020-09-28 19:50] peterpeterparker opened #890 "core: auto slide"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

Add an option to swipe slides automatically after x seconds (or milliseconds?).

It means: if the option is set, the presentations with step through the slides without user inputs.

### Question

Should it always auto-slide or do we want to pause the auto slide on mouse inactivity ?

### Get started

This feature has to

[2020-09-28 20:01] peterpeterparker commented on #346
Updated the description and listed the tasks for "hacktoberfest 2020"

[2020-09-29 13:43] kala2 commented on #890
Hello,

Is this available? Can i take it?

[2020-09-29 13:45] peterpeterparker commented on #890
Sure @kala2 go for it! Thx 🙏

Let me know if you have questions!

[2020-09-29 22:39] timrodz commented on #845
Hi @peterpeterparker - I'd be keen to have a look at this. Any tips on where to look for? What code is affected? :)

[2020-09-30 04:03] peterpeterparker commented on #845
Sure @timrodz that would be awesome - it's quite a tricky one, at least for me so I am happy to get any help!

The contrast check happens in a related [component](https://github.com/deckgo/deckdeckgo/blob/d7383e27feaa4c066f251bf466d306f688f4d955/studio/src/app/components/editor/app-slide-contrast/app-slide-contrast.tsx#L59).

As  you can notice in the code, it currently only check text information

[2020-10-01 05:01] sudo-kaizen commented on #879
@boradakash Are you still working on this? Can I take it up?

[2020-10-01 05:24] boradakash commented on #879
@sudo-kaizen Yes, I've already completed it.

[2020-10-01 06:10] #856 closed

[2020-10-01 06:22] #890 closed

[2020-10-01 06:23] peterpeterparker commented on #890
I would be happy to send you some DeckDeckGo stickers @kala2.
If interested, send me your address in a pm.

[2020-10-01 06:24] peterpeterparker commented on #856
If you would you like to get some DeckDeckGo stickers @hjades, send me your address through pm if interested.

[2020-10-01 09:09] peterpeterparker commented on #346
[Auto slide](https://github.com/deckgo/deckdeckgo/issues/890) has now been added to our core, therefore part of the "Showcase" is not there 😉.

[2020-10-01 09:49] peterpeterparker opened #893 "docs: auto slide"
### Documentation

An "auto slide" feature has been recently developed (#890). It is now possible to set a presentation to swipe slides automatically after X seconds (5000 milliseconds per default).

This feature request aims to add this new option to the documentation for developers.

### Properties

This new options comes with two new properties which can be optionally  set on the deck (`<deckgo

[2020-10-01 18:24] peterpeterparker commented on #880
Sure! I hope this time I understood all possibilities correctly, ping me if not!

[2020-10-01 18:33] peterpeterparker commented on #696
@achimoraites sure awesome!

ping me if you've got any questions and thx 🙏

[2020-10-01 18:42] peterpeterparker opened #900 "new component: markdow parser"
### Affected part of DeckDeckGo
- [X] Web Components

### Feature Description

I was thinking it would be cool to be able to use Markdown in our editor. Currently users can create slides in which they add title, paragraphs, images, code and math. Markdown would be a new type of section.

In such section, users would be able to use Markdown and when the section is blurrred, then  HTML would be rend

[2020-10-01 19:03] peterpeterparker opened #901 "studio: full screen editor options minimized per default"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

One particularity of our editor is that it remains editable in full screen mode as it would be if windowed or on mobile devices. Likewise, all options are  available in full screen.

Even though I really love that function, it bugs me that when people are presenting the tools are displayed.

That's why I thought it would be coo

[2020-10-01 19:21] peterpeterparker opened #902 "studio: save used colors"
### Affected part of DeckDeckGo
- [X] Studio

### Feature Description

In our editor, we are using several times our color picker (`<deckgo-color/>`). I think, instead of  always using  the default palette, it would  be cool to use a palette which keeps track  of the color used by the user.

We can initialize the palette with the default and if for example the user is selecting red or a custom wei

[2020-10-01 19:28] andreas0607 commented on #902
I'd like to contribute by working on this issue👋

[2020-10-01 19:31] peterpeterparker commented on #902
That would be awesome @andreas0607 ! it's an idea I had recently because it bugs me when I edit presentation, so moreover than improving the product it would make me happier when I create my desck 😃

Ping me if you have any ideas or need help!

[2020-10-01 22:47] HugoLiconV commented on #893
I'll be working on this

[2020-10-02 04:43] peterpeterparker commented on #893
super thx @HugoLiconV !

[2020-10-02 05:20] #865 closed

[2020-10-02 07:45] anup-a commented on #874
Something came up. unassigning for now.

[2020-10-02 07:48] donroyco opened #908 "studio: add default 'each corner' for border radius"
### Affected part of DeckDeckGo
- [x] Studio
- [ ] Remote control
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Poll
- [ ] Web Components
- [ ] Templates

### Feature Description

Introduced in #894, the studio now provides border radius set on the background, where you can set each corner individually.

![image](https://user-images.githubusercontent.com/1763537/94899500-bcd96700-0493-11e

[2020-10-02 08:18] peterpeterparker commented on #874
No worries, thx for letting me now. Ping me if you would have time again.

[2020-10-02 08:21] peterpeterparker commented on #908
@thomasledoux1 should I assign you the task I did understood correctly?

if not of course no problem, just a question ;)

[2020-10-02 08:39] thomasledoux1 commented on #908
@peterpeterparker yes, you can assign it to me!

[2020-10-02 08:42] peterpeterparker commented on #908
awesome 👍

[2020-10-02 15:05] Christiak commented on #900
@peterpeterparker Hello, Can I try to work on this component ?? 😀

[2020-10-02 15:14] peterpeterparker commented on #900
sure go for  it @Christiak !!! If you need any help, let me know 😃

[2020-10-02 15:30] #908 closed

[2020-10-03 06:39] #888 closed

[2020-10-03 08:24] #902 closed

[2020-10-03 12:39] #880 closed

[2020-10-03 19:05] Justobioma commented on #760
Hi @peterpeterparker
I don't know if I make any sense in my response here but see if you can discern what I am trying to pass on;
Here are my observations in starting off using npm...
1. This launches a read-only page with gibberish on http://localhost:3333/. One can't
seem to do anything from there
2. Node version error - The current version is 12.18.4. It asks for V14.5.0. Is this futuristic?

[2020-10-03 19:18] peterpeterparker commented on #760
Hi  @Justobioma  thank you for your time and feedback

I notice something interesting in the fact that you think too that mdx might  be an interesting direction but, I am  not sure I understand why  and how you landed on  a localhost `3333`  port which is commonly  a  Stencil dev server and not  related  to this issue.

Again, before doing and developing anything regarding this feature  request, i

[2020-10-03 19:39] Justobioma commented on #760
Thanks for the response.
I actually  landed on the localhost 3333 port on running the following command on my cli and choosing "markdown"

From my observation, this is only present from the cli.
Maybe I fail to grasp completely what is expected here.
Please feel free to do what you think is the best option required to fix this issue.

[2020-10-03 19:44] peterpeterparker commented on #760
@Justobioma thx for the feedback, that's actually  pretty strange 🤔

I don't want you to invest too much time, I need to refine this story and feature request  to make things more clear.

If you are ok, I would say let's put  this on hold / stop,  my job now to make things clearer.

Thanks for your feedback, it helps focus the feature!

Of course, if you are up  to pick any other hacktoberfest fea

[2020-10-03 19:53] andreas0607 commented on #901
I'll have a go at this👍

[2020-10-03 19:54] peterpeterparker commented on #901
that would be cool @andreas0607 ! thx

[2020-10-03 20:10] Harshi7016 commented on #889
Hi @peterpeterparker , This looks really interesting, I would love to explore more and contribute on the same :)

[2020-10-03 20:12] peterpeterparker commented on #889
Sure super got for it @Harshi7016 thx!

[2020-10-04 04:55] adriens commented on #346
Thanks for having made #890 become a reality 👏 🙏

[2020-10-04 10:48] andreas0607 commented on #901
@peterpeterparker I have made a PR for partly fixing this issue.
I have not done anything regards to border-sections.
I'll see what I can do about that at another time✌️

[2020-10-04 10:55] peterpeterparker commented on #901
Awesome @andreas0607 👍 I'll check it this evening and will try afterwards to see if I can do the border thing

[2020-10-04 17:47] peterpeterparker commented on #901
I just reopen it and assign  myself the issue as I still want to check the `border-radius` thing, but the rest, respectively  the PR provided by @andreas0607 is super.

[2020-10-05 15:13] #705 closed

[2020-10-05 15:55] #893 closed

[2020-10-05 17:37] TheIllusionistMirage commented on #346
Hi @peterpeterparker I would like to work on this.

[2020-10-05 17:39] peterpeterparker commented on #346
Thx @TheIllusionistMirage. Assigned 👍

[2020-10-06 02:58] hjades commented on #874
hi! i'm interested in this~ can i work on this issue?

[2020-10-06 04:46] peterpeterparker commented on #874
sure @hjades 👍

is  the issue and everything which has  to be developed clear or do you have questions?

[2020-10-06 12:09] hjades commented on #874
yup! correct me if i'm wrong, these are the things that need to be done:

- [ ]  implement svg wave generator (function)
- [ ] add `SVG Waves (?)` as one of background image option
- [ ] implement svg generator ui (modal)
- [ ] add svg to background slot

[2020-10-06 14:02] peterpeterparker commented on #874
exactly @hjades we are on the same page, awesome!

ping me anytime if you have questions,  have fun and thank you for your help 🙏

[2020-10-06 17:24] donroyco opened #919 "studio: add custom colors at end of color palette"
### Affected part of DeckDeckGo
- [x] Studio

### Feature Description

![Screenshot 2020-10-06 at 19 15 45](https://user-images.githubusercontent.com/1763537/95238067-46c55f00-0809-11eb-874f-f5006e188d2f.png)
_Two custom colors added at the beginning of the color palette._

Current custom colors (awesome feature introduced in #902 ) are being added at the beginning of the color palette. It then sh

[2020-10-06 17:32] donroyco opened #920 "refactor: add optional chaining in code"
### Affected part of DeckDeckGo
- [x] All

### Feature Description

Since TypeScript 3.7, optional chaining can be used to get rid of redundant code.

Example:

[code]

can be simplified to

[code]

See [release notes of TypeScript 3.7 for more information](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#optional-chaining).

**Only easy to rewrite things will be touc

[2020-10-06 18:05] donroyco opened #922 "bug(a11y): color picker does not show focus state"
### Affected part of DeckDeckGo

- [x] Components

The [color picker](https://docs.deckdeckgo.com/components/color/) is affected.

### Reproduction

Steps to reproduce:

1. Go to https://docs.deckdeckgo.com/components/color/ or write a presentation and select _Style_.
2. Use <kbd>Tab</kbd> to navigate through content until you're at the color palette.

### Expected Behavior

To see the color have

[2020-10-07 03:41] ITSjwags commented on #922
Threw in a quick PR to help with this bug. Let me know if I'm missing something here or you want anything else changed/added.

[2020-10-07 03:43] peterpeterparker commented on #922
I'll review the PR asap @ITSjwags. Thx a lot for your help 🙏.

[2020-10-07 10:02] #882 closed

[2020-10-07 14:32] #696 closed

[2020-10-07 14:35] peterpeterparker opened #927 "studio: integrate word cloud"
When done and  release, create a task for its documentation.

[2020-10-07 18:53] #881 closed

[2020-10-07 18:54] peterpeterparker opened #931 "studio: integrate box-shadow"

[2020-10-07 19:11] #922 closed

[2020-10-08 01:26] HugoLiconV commented on #919
If this is needed I could take a look at it

[2020-10-08 05:12] peterpeterparker commented on #919
@HugoLiconV it is not yet ready for development. The idea is first to discuss about the possible enhancement.
If you have any inputs about it, let us know.

[2020-10-08 05:51] #822 closed

[2020-10-08 18:01] achimoraites commented on #691
Hello @peterpeterparker !
This looks interesting can i take it ?

[2020-10-08 18:06] peterpeterparker commented on #691
@achimoraites I would love help on that one, go for it and thx!!!

[2020-10-09 07:52] peterpeterparker opened #942 "studio: improve poll UX to support multiple polls within the same presentation"
### Affected part of DeckDeckGo

- [X] Studio

### Feature Description

In addition to the editor, "studio" also contains a feature which let attendees vote for a [poll](https://deckdeckgo.com/poll/).

In order to let your attendees vote multiple times for the same poll, the poll key is saved in indexedb and a user can't vote  for the same key for two hours.

This works fine but I noticed two thin

[2020-10-09 09:01] yighax commented on #942
Hi. I would like to work on this issue.

[2020-10-09 09:31] peterpeterparker commented on #942
Awesome @yighax that's an important improvement, go for it 👍

[2020-10-09 17:25] peterpeterparker opened #943 "Microsoft Store"
next time I use the pwabuilder, i should try  to bring the editor in the microsoft store

[2020-10-09 17:26] peterpeterparker opened #944 "App Store"
According pwa builder "You can use Xcode to build this package to produce an app that runs on MacOS. "

... might give it  a try ;)

[2020-10-10 11:57] peterpeterparker commented on #920
Also linked https://github.com/deckgo/deckdeckgo/pull/937

[2020-10-10 11:57] peterpeterparker commented on #920
Yes thanks for the feature  and many PRs @donroyco  👍

[2020-10-10 11:57] #920 closed

[2020-10-11 11:41] #927 closed

[2020-10-11 12:10] peterpeterparker opened #951 "docs: new component "word cloud""
### Documentation

A new component [word cloud](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/word-cloud) has been developed and published.

The goal of this issue is to document it in our [documentation](docs.deckdeckgo.com/) for developers.

### Route

This component is not yet documented therefore, it should be in a new route:

https://docs.deckdeckgo.com/components/word-cloud

[2020-10-11 12:27] #691 closed

[2020-10-11 12:49] peterpeterparker opened #952 "studio: integrate waves"
Task for my self to follow PR https://github.com/deckgo/deckdeckgo/pull/949

[2020-10-11 12:52] #874 closed

[2020-10-11 14:53] #931 closed

[2020-10-11 15:20] achimoraites commented on #951
Hello @peterpeterparker !
Can I take it ?

[2020-10-11 15:24] peterpeterparker commented on #951
sure of course, go for it! thx 🙏

[2020-10-12 06:13] tarakeshp opened #955 "Webpack Exception"
When I tried to
npm run start or
npm run local
I am facing the below issue.

Child HtmlWebpackCompiler:
     1 asset
    Entrypoint HtmlWebpackPlugin_0 = __child-HtmlWebpackPlugin_0
    [0] ./node_modules/html-webpack-plugin/lib/loader.js!./src/index.html

[2020-10-12 06:15] peterpeterparker commented on #955
@tarakeshp with which project? our starter kit or another app?

[2020-10-12 07:01] #955 closed

[2020-10-12 07:01] tarakeshp commented on #955
https://docs.deckdeckgo.com/docs/ - following the instructions

[2020-10-12 07:05] peterpeterparker commented on #955
Worked out for me

You are on windows? what's your node and npm versions?

[2020-10-12 07:14] tarakeshp commented on #955
Mac - Version - Catalina 10.15.7
Node - Version - v12.18.4

the starter kit (https://github.com/deckgo/starter-kit) works though but the not the above one. I would like to use it as a editor version. Simple drag and drop components

[2020-10-12 07:16] peterpeterparker commented on #955
Weird I've got  a Mac too and I was  guessing that Node v12 was ok.

Can you provide me the repo you can't compile?

[2020-10-12 07:21] tarakeshp commented on #955
I have re-installed the following plugin
deckdeckgo-webpack-plugins - it works now. Its weird.

Shall I ask you for a suggestion ? is there any editor where I can drag and drop components instead of writing.
Just like slides.com, paperbits.com

[2020-10-12 07:22] peterpeterparker commented on #955
glad to hear it worked out.

no idea what you mean with "drag and drop components", which components?

[2020-10-12 07:25] tarakeshp commented on #955
https://demo.paperbits.io/
https://slides.com/
Have a look at these.
1. you choose a layout.
2. Align the components such as text, images, video etc
3. publish them as json or md file
4. each slide becomes a perma link.

[2020-10-12 07:27] peterpeterparker commented on #955
yes looks good, these are cool editors

[2020-10-12 07:28] tarakeshp commented on #955
[./node_modules/webpack-dev-server/client/index.js?http://localhost:9000] (webpack)-dev-server/client?http://localhost:9000 4.29 KiB {main} [built]
[./src/index.js] 5.51 KiB {main} [built]
    + 434 hidden modules
Child HtmlWebpackCompiler:
     1 asset
    Entrypoint HtmlWebpackPlugin_0 = __child-HtmlWebpackPlugin_0
    [./node_modules/html-webpack-plugin/lib/loader.js!./src/index.html] 6.79 KiB

[2020-10-12 07:29] tarakeshp commented on #955
deckdeckgo has any such editors ?

[2020-10-12 07:30] peterpeterparker commented on #955
https://deckdeckgo.com

for the error, plz provide a sample repo to reproduce the error

[2020-10-13 11:51] peterpeterparker commented on #919
This [color picker](https://omgovich.github.io/react-colorful/) (seen on [dev](https://dev.to/omgovich/react-colorful-1-8-kb-color-picker-for-react-fast-dependency-free-customizable-and-accessible-8le)) for react is nice too.

Its design does not solve all our requirements such as keep the history of used colors and the accessibility (displaying the color value in text form) but I like the way it

[2020-10-13 19:49] #901 closed

[2020-10-13 20:04] andreas0607 commented on #901
That's really awesome! I'll make sure to check it out😍

[2020-10-13 20:07] peterpeterparker commented on #901
Thanks Andreas, happy to hear that 🙏

I reused (copy/paste) a bottom sheet component I developed to present the notes in our remote control. I did not extract it as a standalone component because in the future (soon I hope), Ionic will unleash a bottom sheet component. I'll then be able to remove my custom code 😉.

[2020-10-15 14:07] peterpeterparker opened #959 "social: medium has changed their profile urls"
### Affected part of DeckDeckGo

- [X] Web Components

### Feature Description

The [social](https://docs.deckdeckgo.com/components/social/) web component is used in the template author to automatically parse logo and more important link to social url.

For example if used as following, a link to twitter with the correct url format `https://twitter.com/daviddalbusco` will be rendered.

[code]

Thi

[2020-10-15 16:37] sai-github commented on #959
Can I take this ?

[2020-10-15 16:57] peterpeterparker commented on #959
Sure awesome! Got for it 👍

[2020-10-16 11:12] peterpeterparker opened #962 "blurhashes unsplash image"
Use https://twitter.com/lukechesser/status/1316767692620267520

[2020-10-17 17:45] achimoraites commented on #845
Perhaps this could be used https://github.com/lokesh/color-thief
 for finding the dominant color and then we can calculate the contrast as we do with any other color.

[2020-10-17 17:56] ShraddhaGeek commented on #486
Can I take this and do you need a voice in it?

[2020-10-18 06:09] peterpeterparker commented on #486
Sure go for it!

Yes voice is mandatory I think as these videos are meant to explain the editor and its options.

[2020-10-18 06:15] #951 closed

[2020-10-18 06:35] peterpeterparker commented on #845
indeed @achimoraites looks like it could be a good option, that would solve the feature.

so far, only reserved I've got is the usage of a third party dependency. I like to try to stick to an agnostic approach for our editor. But not sure if that would be possible here though.

[2020-10-18 12:58] #952 closed

[2020-10-18 13:19] peterpeterparker opened #966 "studio: display slide number in breadcrumbs"
### Affected part of DeckDeckGo

- [X] Studio

### Feature Description

This feature as for goal to display the current active slide number in the breadcrumbs of the editor.

For example, instead of displaying `Deck > Slide > Element` it should display `Deck > Slide #19 > Element`.

### Technical Info

The `#` as `<small>#</small>`.

The number, the slide index, is dynamic. It can be retrieved on

[2020-10-18 15:54] RodolfoNei commented on #966
Hello! Can I work on this issue, please?

[2020-10-18 15:56] peterpeterparker commented on #966
Sure thx @RodolfoNei ! Let me know if you have any questions and thx for your help.

[2020-10-18 15:59] peterpeterparker commented on #966
P.S.: @RodolfoNei I just added a new section "Where to start" to the description of the feature, hope  it helps to get started

[2020-10-18 16:01] RodolfoNei commented on #966
Alright @peterpeterparker! Thank you.

[2020-10-20 03:45] RodolfoNei commented on #966
Hello @peterpeterparker. I have been struggling a little bit with this one. I'm a complete beginner with TypeScript and JS in general, so I just started tweaking the code and trying to figure out the issue. I managed to insert the markup of the # and the placeholder to the slide number, that refers to a Prop() I am currently hard-coding the numbers being displayed:
[code]

And inside the button:
[

[2020-10-20 09:07] peterpeterparker commented on #966
@RodolfoNei cool to hear you made some progress and thx for reaching out 👍

there are a couple of solutions I think.

a first one I can think of is using a `State()` instead of a `Prop()` for the index and adding a `@Watch()` on `step` to recalculate the index each time step  is set

[code]

but not sure if that would work, I think it can because step is often set but not sure it is performant.

a

[2020-10-20 18:20] peterpeterparker commented on #943
https://medium.com/pwabuilder/bringing-chromium-edge-pwas-progressive-web-apps-to-the-microsoft-store-c0bd07914ed9

[2020-10-20 19:44] peterpeterparker opened #968 "Play Store without Site settings"
https://github.com/pwa-builder/PWABuilder/issues/1113

[2020-10-21 15:04] #966 closed

[2020-10-22 11:58] peterpeterparker commented on #919
Note for my self: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input/color

[2020-10-23 08:04] #551 closed

[2020-10-24 08:45] peterpeterparker commented on #919
I had some ideas and also will mix it with quite a refactoring. I'll develop something and comeback with a suggestion asap.

[2020-10-25 19:39] peterpeterparker commented on #919
After analyzing the requirements of the "color picker" of our editor I came to the conclusion that the most important feature is being able to enter (keyboard input) the color values, thus because when users are, or at least I am, creating presentations, these are often related to their project or company.

This is currently not solve in an user friendly as we are relying on the browser native col

[2020-10-25 19:40] peterpeterparker commented on #919
@donroyco each time a color is selected, it becomes the first in the history stack. not sure if it a good behavior or not, I'll be interested to hear your thought about this too.

[2020-10-26 08:27] peterpeterparker commented on #942
@yighax may I ask you if you are working on this one? it's an important one, if you would have not time to solve it let me know. Thanks in advance for your feedback.

[2020-10-26 14:37] yighax commented on #942
Yes, i had some other tasks i needed to finish, but now i am fully committed to this issue.

[2020-10-26 14:45] peterpeterparker commented on #942
super! ping me if you need any help

[2020-10-26 21:11] peterpeterparker opened #975 "deprecate starter kit markdown"
### Affected part of DeckDeckGo

- [X] Starter kit

### Feature Description

Never been convinced totally by the solution and the starter kit "markdown" is even now not working. Therefore the goal of this issue is to deprecate the markdown starter kit.

For the future, if anyone is interested to work on a proper super markdown developer kit, would be super.

Likewise, we might improve the markdown

[2020-10-26 21:13] peterpeterparker commented on #760
After much thinking about it, I'll deprecate the developer-kit markdown (in https://github.com/deckgo/deckdeckgo/issues/975) as the solution is not awesome.

If anyone would be  interested to developed it  from the ground, let me know.

[2020-10-26 21:13] #760 closed

[2020-10-27 15:12] #959 closed

[2020-10-27 18:57] #919 closed

[2020-10-27 18:58] peterpeterparker commented on #919
We are in the release process, therefore I included/mergeed my PR. Happy to hear any feedback, positive or negative, and to perform any improvements in several other PRs.

[2020-10-28 12:09] #942 closed

[2020-10-28 12:11] peterpeterparker commented on #942
Please accept my apologies @yighax but this had become a really important issue and I had to find a solution to roll it out as soon as possible for our users as it was requested.

Hope you will understand.

[2020-10-28 12:17] peterpeterparker commented on #869
This has been solved, forgot to close the issue ;)

[2020-10-28 12:17] #869 closed

[2020-10-28 13:25] #975 closed

[2020-10-28 16:51] #236 closed

[2020-10-28 21:11] donroyco commented on #919
Okay: here are a few remarks:
- The first one in history is okay, as long as there are no colors in front (default color set, see point 2).
- I am wondering why you got rid of the default color set? Sometimes you just want a quick presentation without too much hassle to create your own palette. The default color palette was nice to speed things.
- A11y: the slider of opacity has no visual focus st

[2020-10-29 10:22] peterpeterparker commented on #919
thx for the feedback @donroyco 👍

- cool
- done. the  default palette is back
- I had a look but actually did not find how to outline the focus with the ion-range component 🤔
- it's because I use ion-tab-button which can displays their focus with a  background color, what does not work best for the use. we should probably use and style button instead, if you are up for a PR, go for it!

[2020-10-30 06:17] peterpeterparker commented on #968
Done

[2020-10-30 06:17] #968 closed

[2020-11-01 18:29] chnuessli commented on #495
Still need help? I'm new to coding, maybe that would fit my learning curve? :)

[2020-11-01 18:41] peterpeterparker opened #991 "wrong position of the "play" button in the remote"
### Affected part of DeckDeckGo

- [X] Remote control

### Reproduction

Steps to reproduce:

1. Open the remote: https://deckdeckgo.app
2. Open the demo: https://demo.deckdeckgo.com
3. Connect the remote with this presentation
4. Go to the slide "Youtube"

### Behavior

In the [remote control](https://deckdeckgo.app) a "Play / Pause" button is displayed if the current slide contains a video, such

[2020-11-01 18:42] peterpeterparker commented on #495
indeed @chnuessli that would still need to be done but there was many changes since last year and I think that the flag "good first issue" is not correct anymore, might be tricky.

I just opened an issue I noticed today, could that be something? -> https://github.com/deckgo/deckdeckgo/issues/991

[2020-11-01 18:43] peterpeterparker commented on #889
@Harshi7016 are you working on that one or should I un-assigne you the issue?

[2020-11-01 18:43] peterpeterparker commented on #883
@DaniAcu are you working on that one or should I un-assigne you the issue?

[2020-11-01 18:44] peterpeterparker commented on #486
@ShraddhaGeek  are you working on that one or should I un-assign you the issue?

[2020-11-01 18:59] Harshi7016 commented on #889
Hi @peterpeterparker , Shall I update you about my progress in 3 days, I am extremely sorry , I got struck in other prs and forgot to update...
Extremely sorry for this delay
If you are ok I will be updating you soon
Sorry again

[2020-11-01 19:49] peterpeterparker commented on #889
no worries about delay @Harshi7016,  there is no rush. I was interesting about the status to get to know if someone should take over or not, so all cool. Ping me when you've got time, thx.

[2020-11-02 10:31] MehulG commented on #991
Hi peter! I would like to resolve this issue. As this would be my first open source contribution, I hope you would bear with me.

[2020-11-02 10:57] peterpeterparker commented on #991
Sure go for it @MehulG, thx 👍

[2020-11-02 10:58] peterpeterparker commented on #495
Someone took over #991, if you find any other interesting issue @chnuessli let me know, happy to help!

[2020-11-02 11:48] chnuessli commented on #495
@peterpeterparker No Problem, i will wait for one that fits :)

[2020-11-02 11:49] peterpeterparker commented on #495
Super. Likewise, if you notice any bugs or have idea of improvements, you are most welcome to submit these 😃

[2020-11-02 18:39] MehulG commented on #991
@peterpeterparker I changed local CSS and I think issue is fixed now. I have raised a pull request

[2020-11-02 18:41] peterpeterparker commented on #991
Awesome @MehulG 💪 I will try to have a look asap!

[2020-11-02 22:06] peterpeterparker opened #995 "drawing not possible in the remote control"
### Affected part of DeckDeckGo

- [X] Studio

### Reproduction

Steps to reproduce:

1. Open the remote: https://deckdeckgo.app
2. Open the demo: https://demo.deckdeckgo.com
3. Connect the remote with this presentation
4. Try to draw over the presentation

### Expected Behavior

Being able to draw over the presentation

### Actual Behavior

On drawing nothing happens. Normally, when the `ion-fab-

[2020-11-03 17:11] peterpeterparker opened #996 "studio: integrate markdown"
Follow up #900

[2020-11-03 17:13] #900 closed

[2020-11-05 20:06] donroyco opened #997 "bug(a11y): colors in studio do not show focus outline"
### Affected part of DeckDeckGo

- [x] Studio

### Reproduction

Steps to reproduce:

1. Go to studio.
2. Try to navigate with keyboard (tab) to colors.

### Expected Behavior

To clearly see which color I selected with keyboard only.

### Actual Behavior

Only a slight color change. No real visible feedback. Also see #919 where I mentioned it.

### Environment

- Browser(s): Chrome
- Operating Sy

[2020-11-06 16:04] #997 closed

[2020-11-07 12:55] ryor1986 commented on #767
I updated puppeteer to the latest version("puppeteer": "^5.4.1" / "@types/puppeteer": "^3.0.4") and confirmed it works in cloud functions.

[2020-11-08 12:56] sakebook commented on #767
I'm working.

- puppeteer: ^5.4.1
- Node: 12
- args: ["--no-sandbox"]

If args is empty, not working.

[2020-11-08 17:35] #995 closed

[2020-11-09 13:12] peterpeterparker opened #1002 "starter: papyrus display a slide separator"
Display a separator such as  ". . ." between slides in **papyrus** mode

[2020-11-11 16:23] #991 closed

[2020-11-12 14:22] #996 closed

[2020-11-12 15:11] peterpeterparker opened #1005 "docs: document new markdown web component"
### Documentation

A new component [markdown](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/markdown) has been developed and published.

The goal of this issue is to document it in our [documentation](docs.deckdeckgo.com/) for developers.

### Route

This component is not yet documented therefore, it should be in a new route:

https://docs.deckdeckgo.com/components/markdown

### W

[2020-11-14 06:53] peterpeterparker opened #1006 "user select and clickable links"
currently text is not selectable and links are not clickable  in the starter because slides can be dragged.

I should find a way to have both.

https://beta.deckdeckgo.io/ramiropastranoayc/bienvenid/

[2020-11-14 07:22] peterpeterparker opened #1007 "markdown: modify parser to change the size of an image"
### Affected part of DeckDeckGo

- [X] Web Components

### Feature Description

Our [markdown](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/markdown)  can parse image sizes as following:

[code]

I have run polls on  [Twitter](https://twitter.com/daviddalbusco/status/1327277786839572481) and [Dev](https://dev.to/daviddalbusco/what-would-be-your-favorite-option-to-change-the-size-

[2020-11-14 09:19] #1006 closed

[2020-11-16 05:58] peterpeterparker opened #1012 "studio: purgeCSS"
not sure there are that much CSS to clean but might be worth  give a try to purgeCSS

https://purgecss.com/plugins/postcss.html#usage

[2020-11-16 19:58] grantlouisherman commented on #1007
hey @peterpeterparker I can take a look at this if that works!

[2020-11-16 20:05] peterpeterparker commented on #1007
@grantlouisherman sure would be awesome 👍 let me know if you have any questions!

P.S.: just merged #1011 30 seconds, if you forked the project before it, you might need to sync your branch as I did some changes in the component in that branch.

[2020-11-16 20:29] peterpeterparker commented on #1002
[code]

[2020-11-16 20:51] peterpeterparker commented on #1002
not sure because of the waves...

[2020-11-18 18:29] grantlouisherman commented on #1007
hey @peterpeterparker so I wanted to ask you a qq. When I ran the markdown code locally and just put in "width=<WIDTH>px,height=<HEIGHT>px" it seemed to update the image properly. Maybe I'm misunderstanding, but I think the "enhancement" was to make the `width,height` syntax available for input and it seems to already do that. Let me know your thoughts! 👍

[2020-11-18 19:46] peterpeterparker commented on #1007
@grantlouisherman it already does? ok that would be pretty nice :) can you show me the markdown code you used for the test? the one  in which you  added "width=px,height=px"   ?

[2020-11-18 20:13] grantlouisherman commented on #1007
<img width="1157" alt="after" src="https://user-images.githubusercontent.com/5606705/99582809-9ecab600-29b0-11eb-98e6-c17fad12e07c.png">
<img width="1070" alt="markdown_edit" src="https://user-images.githubusercontent.com/5606705/99582810-9f634c80-29b0-11eb-896b-ed3bc22afb4f.png">
<img width="1203" alt="before" src="https://user-images.githubusercontent.com/5606705/99582811-9f634c80-29b0-11eb-951b

[2020-11-18 20:14] grantlouisherman commented on #1007
So @peterpeterparker I technically lied. The width seems to update but not the height. I assume that the `deck-deck-go` img has a height attribute? I think I just need to update that image worker function you have.

[2020-11-19 06:41] peterpeterparker commented on #1007
thx for the feedback @grantlouisherman, effetively my current regex seems to be to weak 😅

yes exactly I think it would be cool to update the `changeImgCreation` function to detect `height` and `width` if passed as following:

![](img.jpg "width=100px,height=20px")

and apply these to the related css deckgo-lazy-img.

agree?

[2020-11-19 09:58] peterpeterparker opened #1014 "offline: user was not able to go back online "Uncaught (in promise) TypeError: t.split is not a function""
### Affected part of DeckDeckGo

- [X] Studio

### Expected Behavior

(see slack channel) user was not able to go back online

[code]

Might be linked to the Firebase delete?

### More info

Deck Id: EyWhSGh4r4QkzfZua9ON

[2020-11-19 10:02] peterpeterparker opened #1015 "studio: download backup"
### Affected part of DeckDeckGo

- [X] Studio

### Feature Description

In addition to "push code to GitHub", specially when content is not (yet) public, users  would feel reassured  if it would be possible to download a backup.

For such purpose we can add an option to download the content. Either DB content  1 to 1 or we can use the upcoming endpoint (https://github.com/deckgo/deckdeckgo/issues/

[2020-11-19 10:07] peterpeterparker commented on #875
moreover than the feature "push to github"  this can maybe also be interesting to add a "backup" option as suggested in #1015 (download a local copy to not loose text)

[2020-11-19 18:10] grantlouisherman commented on #1007
hey @peterpeterparker I opened a draft PR here: https://github.com/deckgo/deckdeckgo/pull/1017. Let me know your thoughts on the implementation.

[2020-11-20 15:08] peterpeterparker opened #1018 "template: content bottom aligned"
### Affected part of DeckDeckGo

- [X] Templates

### Feature Description

I was thinking, that this can be a quick win. There is a template [content](https://github.com/deckgo/deckdeckgo/tree/master/webcomponents/slides/content) which align its `title` and `content`  to the `flex-start`.

[code]

If would maybe cool to have a new `property` to be able to align the content to the end (see screensh

[2020-11-20 16:30] #1007 closed

[2020-11-20 20:29] grantlouisherman commented on #382
hey @peterpeterparker do you care if I took a look at this?

[2020-11-20 20:33] peterpeterparker commented on #382
sure @grantlouisherman always happy to get some help!

note: the description of the  issue, specially the "development" part might  now be up-to-date and correct anymore. I think we should treat it as nothing more than a blank page with the goal to be able to "import from pptx". open to idea and solution

[2020-11-20 20:48] grantlouisherman commented on #382
yeah I think it will probably require a discussion. So you would want to simply import a Powerpoint and convert that to a DeckDeckGo presentation?

[2020-11-20 20:58] peterpeterparker commented on #382
yes that's my understanding too. the idea is not mine but was suggested by our beta testers or more recently by some users.  so yes, being able  to provide a powerpoint and convert it to a deckdeckgo presentations.

to  be honest, it sounds  tricky to me, so  really, really  happy to get any help on  this!

[2020-11-20 21:04] grantlouisherman commented on #382
Yeah in the browser is going to be interesting but let me poke around and I’ll get back to you. 👍

[2020-11-20 21:06] peterpeterparker commented on #382
Sounds like a plan, thx!

[2020-11-22 12:40] #1014 closed

[2020-11-22 20:04] peterpeterparker commented on #944
this won't happen, here are the rejection messages from Apple:

2. 1 Performance: App Completeness (macOS)
2. 3 Performance: Accurate Metadata (macOS)
4. 2 Design: Minimum Functionality (macOS)
5. 2.5 Legal: Intellectual Property - Apple Products (macOS)

Performances  can probably be solved with https://github.com/pwa-builder/pwabuilder-MacOS/issues/23 and correctly updating the name MacOSpwa wit

[2020-11-22 20:04] #944 closed

[2020-11-28 11:59] #1015 closed

[2020-11-28 13:50] peterpeterparker opened #1024 "studio: deck.meta.published_at mixing values (date and timestamp) not supported feed"

[2020-11-29 08:10] peterpeterparker commented on #264
It is now actually pretty easy to solve this one because on each slide changes, we are applying the content editable on the elements of the slide and thus according if editable or not as elements are no more editable in fullscreen. Therefore we can also add the spellchecker in the equation, two lines of code and solve 😃.

[2020-11-29 08:15] #264 closed

[2020-12-02 18:18] donroyco opened #1027 "studio(a11y): update button not accessible via keyboard only on homepage"
### Affected part of DeckDeckGo

- [x] Studio

### Reproduction

Steps to reproduce:

1. Go to www.deckdeckgo.com when a new version has been deployed
2. Message is shown of updated version

<img width="769" alt="Screenshot 2020-12-02 at 10 39 21" src="https://user-images.githubusercontent.com/1763537/100913710-6f4c9b00-34d2-11eb-83ca-17b9bf73da0e.png">

_Notification of updated version_

3. Navig

[2020-12-03 07:04] peterpeterparker commented on #1027
Cool idea 👍. It's a default Ionic Toast, it has to be checked if it is possible.

[2020-12-04 08:02] peterpeterparker opened #1030 "update studio robots.txt"
### Affected part of DeckDeckGo

- [X] Studio

### Feature Description

I am not an expert in robots.txt but while comparing it with my website I noticed it contained more information, therefore I suggest to also update the `robots.txt` file of our editor, studio, as following:

[code]

[2020-12-07 03:02] grantlouisherman commented on #382
hey @peterpeterparker so I just wanted to give you an update. I have learned that PowerPoints are in the Microsoft Open XML format. This format does differ from XML format in the sense that they have their own tags for how slides relate to each other. I found a few resources that I am going to take a look at this week, one of which is the Microsoft API for Open XML.

For your reference:

- http://

[2020-12-07 16:00] peterpeterparker commented on #382
really cool @grantlouisherman thank you for the feedback! such a weird format, it already sounded tricky before, even more know 😉 looking forward to hear about your discovery!

[2020-12-16 06:05] peterpeterparker commented on #1024
something I should  keep an eye on

[2020-12-16 06:05] peterpeterparker commented on #1024
looks good so far

[2020-12-16 06:15] #1030 closed

[2020-12-17 11:29] peterpeterparker commented on #370
Just an update: I am currently working on splitting the app and website.

In this new site I'm developing with Gatsby, i18n was directly integrated. It was a major concern when I initialized the project. This means that within next weeks, it will be possible to translate most pages to any other language 🎉.

The app will follow afterwards and it will be technically easier to do so.

[2020-12-23 10:57] peterpeterparker commented on #943
We are in the MS Store 🥳

https://www.microsoft.com/en-us/p/deckdeckgo/9pfr8n0r5gpp?activetab=pivot:overviewtab

[2020-12-23 10:57] #943 closed

[2021-01-09 12:37] peterpeterparker opened #1047 "site: add a "close" button to the menu"
### Affected part of DeckDeckGo

- [X] Site

### Feature Description

Add a "close" to the menu of the [website](https://deckdeckgo.com) (see mockups).

### Use Case

Even though a click on  the backdrop closes it, it would be more user friendly to display such an  action

###  Getting started

The site is developed with Gatsby.

[code]

### Screenshots

<img width="1002" alt="Capture d’écran 202

[2021-01-09 12:41] peterpeterparker opened #1048 "templates: poll row alignment if portrait"
### Affected part of DeckDeckGo

- [X] Templates

### Feature Description

See screenshot,  if portrait, a "row" alignment would probably be more suitable for the "poll" template than the default column one.

In addition, maybe the display of the QR code on smaller device can be questioned aka should we hide it on small devices?

### Screenshots

<img width="612" alt="Capture d’écran 2021-01-09 a

[2021-01-09 12:48] peterpeterparker opened #1049 "studio: dashboard features and design [discussion]"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Feature Description

The dashboard of "studio" (our editor) offers actually basic features:

- List user decks
- Filter user decks
- Copy deck
- Delete deck

I think it  should offer more features and the design should be improved.

### Questions

- What features can or should be added ? What useful or handy tools are missing?

- H

[2021-01-11 11:50] mariasiuvlad opened #1051 "[Drag, Resize and Rotate] `drrDidChange` not firing correctly after re-opening modal"
### Affected part of DeckDeckGo

- [x ] Web Components (Drag, Resize and Rotate)

### Reproduction

Using Drag, Resize and Rotate web component in a React project together with `react-modal` results in improper handling of the `drrDidChange` event

Steps to reproduce:

1. Open modal containing ddr component
2. Close modal
3. Open modal again
4. Drag ddr component

### Expected Behavior

`drrDidCha

[2021-01-11 15:35] peterpeterparker commented on #1051
Thank you for the issue @mariasiuvlad

Is your project open source? Can I check it out to give a try?

As you can see in the component's [code](https://github.com/deckgo/deckdeckgo/blob/17a1961c2bd6b02ca43182b27648cdb6a811c640/webcomponents/drag-resize-rotate/src/components/deckdeckgo-drr.tsx#L137), the listeners are attached to the `document` therefore not sure why they would not be called.

Exce

[2021-01-12 13:36] mariasiuvlad commented on #1051
Hi @peterpeterparker,

Unfortunately the project is not open source.

While setting up a demo repo I did some more debugging and found the issue was being caused by something unrelated to the Drag, Resize, Rotate web component. I managed to fix the issue since then. I think this can be closed.

Thank you for your support :)

[2021-01-12 14:16] peterpeterparker commented on #1051
@ mariasiuvlad glad to hear you found a solution 👍

I close the issue but, for sure, ping me anytime if it would happens again. Have fun!

[2021-01-12 14:16] #1051 closed

[2021-01-18 08:01] calendee opened #1057 "code samples not visible until reloaded"
### Documentation Feedback

When viewing the documentation at the link below, the code samples don't display the code.

After refreshing the page, the code displays.

Affected Browsers: Safari, Safari Developer Preview, Opera, Firefox, Firefox Developer Edition

![deckdeckgo-docs-missing-code](https://user-images.githubusercontent.com/57374/104887529-52c1d080-5963-11eb-801a-fa53183ec7f6.png)

**Af

[2021-01-18 08:10] peterpeterparker commented on #1057
Thanks for the issue @calendee !

Probably due to the language `bash` I had set to the examples. I should check what's wrong there...

[2021-01-18 08:52] bjesuiter opened #1058 "Export the Presentation as PDF via Stencil SSG"
### Affected part of DeckDeckGo

- [x] Studio (online editor)
- [ ] Remote control
- [ ] Poll
- [ ] Site
- [ ] Documentation
- [ ] Demo
- [x] Starter kit (maybe)
- [ ] Web Components
- [ ] Templates

### Feature Description

Since Stencil supports Static Site Generation now,
this would be the perfect opportunity (i think) to implement PDF exports for the Presentation.

Idea:
Render the Presentatio

[2021-01-18 15:00] peterpeterparker commented on #1058
Thank you for the  issue @bjesuiter

Agree with you but, currently, this is something we scheduled to be included in our offering for enterprise / business.

That being said, nothing is written in stone and, it might change in the future.

[2021-01-18 21:10] peterpeterparker opened #1059 "Try <template/> for complex wc (highlight-code etc.)"
Not sure it would work but, can have some advantages. I should give a try to [<template>](https://developer.mozilla.org/fr/docs/Web/HTML/Element/template) and test if it would work in our cases

[2021-01-20 21:38] peterpeterparker commented on #1012
check  dylan's post: https://dev.to/dylanvdmerwe/reduce-angular-style-size-using-purgecss-to-remove-unused-styles-3b2k

[2021-01-21 06:36] saideepesh000 commented on #1047
@peterpeterparker, hey can I work on this

[2021-01-21 06:38] peterpeterparker commented on #1047
@saideepesh000 for sure! that would be super, thx.

let  me know if you have any questions.

[2021-01-21 07:20] saideepesh000 commented on #1047
Hey @peterpeterparker, is there any image/icon of that "X" icon or should I take a screenshot of that and extract that "X" from that.

[2021-01-21 07:23] peterpeterparker commented on #1047
you can use the icon which finds place in [site/static/assets/icons/ionicons/close.svg](https://github.com/deckgo/deckdeckgo/blob/master/site/static/assets/icons/ionicons/close.svg)

[2021-01-22 07:37] #1047 closed

[2021-01-25 16:28] peterpeterparker commented on #1057
It has to do with the download of extra languages but, I was not able to reproduce / debug the issue.

When I try locally, everything went fine. I am guessing there  is a race condition between  attaching DOM elements and fetching extra script. That or an issue with Service Worker.

[2021-01-26 14:10] Zenahr opened #1064 "Dismiss low contrast warning"
### Affected part of DeckDeckGo

- [x] Studio (online editor)
- [ ] Remote control
- [ ] Poll
- [ ] Site
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Web Components
- [ ] Templates

### Feature Description

Add a `Dismiss` button to `low contrast warnings` that will make the warning disappear altogether.

### Use Case

Evidently the low contrast warning pops up in cases where it shouldn'

[2021-01-26 14:18] peterpeterparker commented on #1064
Sure, that's totally doable!

In addition we should probably also add the option to the  "settings > customization" so that the user can trigger it back to "active".

That being said, if the contrast warning popups when it should not, we should also in parallel try to fix these cases 😅.

<img width="1128" alt="Capture d’écran 2021-01-26 à 15 14 36" src="https://user-images.githubusercontent.com/

[2021-02-08 20:43] peterpeterparker opened #1074 "Automatic generate changelogs from PR"
### Documentation Feedback

It would ease my development process (aka life) if the changelogs would be generated automatically according their PR title, milestone, labels etc.

Not  sure if standard version should be use or other solution. Probably also best if it works in GitHub actions and supports mono-repo.

[2021-02-10 14:34] #1018 closed

[2021-02-16 14:38] peterpeterparker commented on #370
Stencil example by @jpzwarte

[code]

and then its as easy as `label={this.collapsed ? i18n.shell.expand : i18n.shell.collapse}`

[2021-02-18 06:45] peterpeterparker opened #1082 "studio: shuffling slides sometimes does not work"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Feature Description

Changing the ordering of the slides does not work sometimes.

I tried to reproduce the issue but, couldn't.

Therefore, Iif anyone can provide an accurate description on the cases which lead to the issue, that would help a lot!

### Screenshots

<img width="1221" alt="Capture d’écran 2021-02-18 à 07 43 21" sr

[2021-02-18 06:55] peterpeterparker opened #1083 "studio: do not fetch code language list at runtime to improve performance"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Feature Description

To improve this behavior, we should replace the fetching of the languages at runtime and include the list of code language in the bundle.

### Use Case

Improve performance

### Code

This [service](https://github.com/deckgo/deckdeckgo/blob/dea2a774a647a06702546c0645fc6c239db9307f/studio/src/app/services/editor

[2021-02-18 06:57] peterpeterparker commented on #251
We can realize this for the non complex slides (title, content, split horizintal and vertical)

[2021-02-18 17:29] peterpeterparker opened #1085 "get rid of mailchimp and migrate to tinyletter (?)"
### Feature Description

Mailchimp is way too expensive for hobbyist like us who send one newsletter around every two months. More than 50$ a month for such service is overpriced.

Therefore we  should get rid of it.

I would still keep the newsletter feature, I feel like we use it moderately, it is displayed in your services and as long as users can remove themselves easily, it is ok. Therefore I

[2021-02-19 15:02] peterpeterparker opened #1087 "add prettier to starter kit"
### Affected part of DeckDeckGo

- [X] Starter kit

### Feature Description

I ran a [poll](https://twitter.com/daviddalbusco/status/1361722925259358210) on Twitter and 93% of voters are for Prettier as default formatter for the [starter kit](https://github.com/deckgo/starter-kit).

Therefore we should process, voters  have spoken.

[2021-02-20 10:54] zh-betina commented on #1082
@peterpeterparker Hey! I'd like to have a look at that one 😉 Not sure if I'll find it, but trying never hurts 😄

[2021-02-20 12:04] peterpeterparker commented on #1082
That would  be awesome @zh-betina 👍

I did not manage to reproduce it but, I am sure the bug exists.

If you can manage to track it down, code wise, the bug might be in [updateDeckSlidesOrder](https://github.com/deckgo/deckdeckgo/blob/05a900a9161f93576a1c6f8420bca99947f57d77/studio/src/app/handlers/editor/events/deck/deck-events.handler.ts#L933)

Keep me posted and thx!

[2021-02-26 11:53] #251 closed

[2021-02-28 06:53] peterpeterparker opened #1090 "studio: add telegram to web-social-share options"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Feature Description

Add "telegram" to the list of web-social-share options.

### Code

The web component is  implemented in [app-share-deck](https://github.com/deckgo/deckdeckgo/blob/master/studio/src/app/components/core/app-share-deck/app-share-deck.tsx).

For documentation see [README](https://github.com/peterpeterparker/web-soc

[2021-02-28 07:26] mtwn105 commented on #1090
Hi @peterpeterparker

I would like to work on this one

[2021-02-28 07:28] peterpeterparker commented on #1090
Awesome @mtwn105 👍
Go for it, thx

[2021-02-28 07:48] #1083 closed

[2021-02-28 08:15] mtwn105 commented on #1090
Hi @peterpeterparker

Opened PR #1092

[2021-02-28 08:19] #1090 closed

[2021-02-28 08:19] peterpeterparker commented on #1090
Awesome! Thx 😃

[2021-02-28 15:44] peterpeterparker commented on #1064
Indeed there was a bug in the contrast detection which followed a refactoring of the color picker. I solved it in PR #1094.
I keep an eye on it if it would need more fix.

Nevertheless, fix or not, this feature remains a good idea 👍

[2021-02-28 22:57] zh-betina commented on #1082
@peterpeterparker I'm not sure if I found exactly the same issue as yours, however, there is a problem with changing an order of slides, if you drag one of the elements on the list of slides too much down to the bottom. It sort of blocks the dragging event, can't drag anything anymore after and if you get off the list/click anywhere else, and go back to the list of slides, it turns out the order w

[2021-03-01 05:47] peterpeterparker commented on #1082
thanks for the analysis and feedback @zh-betina

it might be the issue indeed, actually I don't have more information than "it doesn't work sometimes".

no need of screencast, I was able to reproduce the issue too. spontaneously I would say that it is not an issue with our code but maybe a bug of the Ionic [reorder](https://ionicframework.com/docs/api/reorder) component we are using.

do you want

[2021-03-01 06:57] zh-betina commented on #1082
@peterpeterparker Yes! 'd like to get more familiar with the project from the code side and help with more things if my skills allow (sooner or later :)),  so I'll be happy to have a look!

[2021-03-01 07:02] peterpeterparker commented on #1082
Awesome! Go for it, ping me if you have any questions and thx 🙏

[2021-03-03 18:23] peterpeterparker opened #1095 "publish action disabled"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Actual Behavior

1. if the publication title is not valid the error should be displayed in red (as it used to be)
2. modifying the description should not unleash the disabling of the publish button

[2021-03-04 06:39] #1095 closed

[2021-03-04 20:57] peterpeterparker commented on #370
boom done 🔥

[2021-03-04 20:57] #370 closed

[2021-03-04 20:58] peterpeterparker commented on #370
@mauriciolanda4 if you are still up to translate the app in Spanish, that would be over cool and  it is now possible!!!

I wrote some lines about it in [CONTRIBUTING.md](https://github.com/deckgo/deckdeckgo/blob/master/CONTRIBUTING.md#translation). If you have any question let me know, happy to help

[2021-03-04 21:00] peterpeterparker commented on #360
it is now possible to translate our editor, it took me  some times and had to  make some manual work, so really happy  about it

as I said  in other issue, if you are still in to help translate DeckDeckGo that would be over neat

[2021-03-05 17:11] dshomoye opened #1097 "Custom Line Height for code block"
### Affected part of DeckDeckGo

- [ ] Studio (online editor)
- [ ] Remote control
- [ ] Poll
- [ ] Site
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [X] Web Components
- [ ] Templates

### Feature Description

Not super familiar with the code base yet but simply put: I find the default line height used in the code blocks to be too dense.
Just like there is a CSS variable to change the font

[2021-03-06 20:07] peterpeterparker commented on #1097
Sure sounds like a good idea but, line-height is inherited therefore not sure a CSS variable is needed or am I missing something?

That being said, in our online editor it is a good to defined a better value. What would be your suggestion aka which `line-height` value should we use?

Finally,  if I understand you  correctly, you are also suggesting to add an option to modify such value in our onli

[2021-03-06 22:25] dshomoye commented on #1097
Apologies for not spending more time on the [main website](https://app.deckdeckgo.com/dashboard) - which, btw, totally rocks 😄.

I am using the [`Highlight code`](https://docs.deckdeckgo.com/components/code) in a React site so my request is specifically for the component. Since the components are rendered into an encapulated shadow DOM, no css property - including line-height from the main site pr

[2021-03-07 15:37] peterpeterparker commented on #1097
Thank you for the feedback, I understand now the context and request.

On which shadowed element would you like to have the property?

If you set `line-height: 2em` on the `host` element then the value is inherited

[code]

For sure I am not against to add another CSS variables, just want to be sure which element should be targeted.

[2021-03-07 17:01] dshomoye commented on #1097
Oh yeah - I see your point, that is true.
But I am using this through the [`gatsby-remark-highlight-code`](https://www.gatsbyjs.com/plugins/gatsby-remark-highlight-code/?=remark%20code#styling) plugin. It automatically creates the `deckgo` element so I can't add any attributes directly, CSS variables is the only way I have to control the styling of component.

I think the `line-height` can do on t

[2021-03-07 17:43] peterpeterparker commented on #1097
Sure why not, can you provide a PR?

Something like `line-height: var(--deckgo-highlight-code-line-height);`

I'll take care of the rest after merge.

[2021-03-07 18:27] dshomoye commented on #1097
yeah sure i can do that

[2021-03-07 18:28] peterpeterparker commented on #1097
cool!

[2021-03-07 20:02] #1097 closed

[2021-03-07 20:03] peterpeterparker commented on #1097
Thanks for the PR @ dshomoye it has been release in `v2.5.1`. let me know if it works out for you

[2021-03-09 21:53] mauriciolanda4 commented on #360
somehow this notification got lost on my account xd,

i would be happy to start with the spanish translation, where do i start making changes?

[2021-03-10 05:57] peterpeterparker commented on #360
awesome @mauriciolanda4 👍

to start you can have a look at the [CONTRIBUTING](https://github.com/deckgo/deckdeckgo/blob/master/CONTRIBUTING.md#translation) guide in which I described what can be done to translate the editor and studio

Shortened, for the editor, this file [en.json](https://github.com/deckgo/deckdeckgo/blob/master/studio/src/assets/i18n/en.json) can be translated.

Let me know if y

[2021-03-14 18:21] peterpeterparker opened #1104 "unable to go offline"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Reproduction

Steps to reproduce:

1. Deck XHrecg3tiwhcDFWNb1Go
2. Go offline

[2021-03-14 18:31] clicketyclackety opened #1105 "Notes encoding text incorrectly"
### Affected part of DeckDeckGo

- [x] Studio (online editor)
- [ ] Remote control
- [ ] Poll
- [ ] Site
- [ ] Documentation
- [ ] Demo
- [ ] Starter kit
- [ ] Web Components
- [ ] Templates

### Reproduction

Steps to reproduce:

1. Create notes with special characters in
2. Save notes
3. View notes (see the strange encoding)

### Expected Behavior
I expected the notes to not html~ise characters

[2021-03-14 19:11] peterpeterparker commented on #1105
Thx for the issue! Can you provide a concrete sentence which leads to the unexpected result @clicketyclackety ?

[2021-03-14 19:12] clicketyclackety commented on #1105
The e.g in expected vs actual behaviour was meant to be this 😊

[2021-03-14 19:17] peterpeterparker commented on #1105
Sorry my bad. All good, will try. These are probably expected because either because of Markdown or the communication with the remote. Will see if we can do something...

[2021-03-15 19:18] peterpeterparker commented on #1104
@clicketyclackety I think I found the issue thanks to your example. Unsplash was not white listed anymore in our CSP rules and therefore going offline failed if such stock photos were used in a deck while trying to go offline.

I have deployed a hot fix live, this should do the trick.

If you've got 5 minutes, after a browser refresh, let me know if the issue still happen.

<img width="1258" alt="

[2021-03-15 19:54] #1105 closed

[2021-03-15 19:59] peterpeterparker commented on #1105
@clicketyclackety had more time and energy than expected so I was able to fix that one too today 😉

thanks for all the useful feedback!

[2021-03-15 20:00] clicketyclackety commented on #1104
I tried this, had no luck, emptied cookies cache etc, but still the same error on chrome and edge :(

[2021-03-15 20:01] peterpeterparker commented on #1104
@clicketyclackety a pity. can you open your console debugger and see if any error is printed out? if yes, can you provide a screenshot?

[2021-03-15 20:15] clicketyclackety commented on #1104
Hey @peterpeterparker, I turned on verbose in the chrome debugger and I get 0 output messages sorry!

[2021-03-15 20:38] #1104 closed

[2021-03-15 20:43] peterpeterparker commented on #1104
@clicketyclackety should be good now, I  detecteed something else and I have added one more features. Hope  it works with it 😅

Thank you for the help!

[2021-03-15 21:46] clicketyclackety commented on #1105
Quality! Thanks @peterpeterparker, I tested notes and they're working as expected :100:!

[2021-03-15 21:49] clicketyclackety commented on #1104
I seem to be able to go offline! :100:
Thanks so much @peterpeterparker!

[2021-03-16 05:39] peterpeterparker commented on #1105
Cool! Thanks for the test

[2021-03-16 05:40] peterpeterparker commented on #1104
Woooohooooo that's great to hear 🥳
Thanks again for the issue and help!

[2021-03-18 07:54] #360 closed

[2021-03-21 15:57] waidis opened #1112 "Function to Broadcast presentation."
### Affected part of DeckDeckGo

- [x] Studio (online editor)

### Feature Description

Ability to create a broadcast session with a unique URL link where attendees can view the presentation remotely. No additional menus, editing options for the presentation.

### Use Case

Currently, the presentation option only allows running presentation on the same device and sharing on an external screen. Cre

[2021-03-21 17:19] peterpeterparker commented on #1112
Thanks  for sharing the idea @waidis 👍

In the future, when conference and events will hopefully happen irl again, this would be useful.

[2021-03-22 20:41] #246 closed

[2021-04-02 23:53] zh-betina commented on #1082
@peterpeterparker Hey, I followed the steps:

`git clone https://github.com/deckgo/deckdeckgo`
`cd deckdeckgo/studio`
`npm install`
`npm run start`

but that's the result I got on `npm start`
![printscreen](https://user-images.githubusercontent.com/62478957/113462039-5a036100-941f-11eb-93dc-dc51eafd4c74.png)

Is it something common and I missed something?

[2021-04-03 05:12] peterpeterparker commented on #1082
@zh-betina are you on Windows? another contributor, Christian, had the same issue yesterday with the docs and we came to the conclusion that was the reason

to solve the error I think it might need the `rollup-plugin-node-polyfills` as displayed in the Stencil doc https://stenciljs.com/docs/module-bundling chapter "Node Polyfills "

1. `npm install rollup-plugin-node-polyfills --save-dev`

2. add

[2021-04-03 11:41] zh-betina commented on #1082
@peterpeterparker Yes, I tried it on Windows, did as you recommended and it's working! Thanks a lot.
I'll be back soon with a more issue-related bug content (I hope 😄 ).

[2021-04-03 14:32] peterpeterparker commented on #1082
nice cool to hear it worked out. maybe at some point we should think about adding it...

looking forward to your feedback about the issue!

[2021-04-09 10:27] vialcollet opened #1130 "Docker Image"
### Affected part of DeckDeckGo

- [x ] Studio (online editor)
- [ ] Remote control
- [ ] Poll
- [ ] Site
- [ ] Documentation
- [ ] Demo
- [x ] Starter kit
- [ ] Web Components
- [ ] Templates

### Feature Description

It would be create to create a dockerfile to be able to quickly start a container with all required components:
- NodeJS
- StartedKit
- Studio

This list is probably not exhaustive

[2021-04-09 10:46] peterpeterparker commented on #1130
Thanks for opening the issue 👍

I have almost no clue of Docker, therefore for sure it would need the help of the community here but, cool idea.

What would be the goal, to have a docker container for coding purpose or to use it to create presentations?

If coding purpose, for sure we can probably also add the `remote`.

If the goal is to create presentations, I am not sure how to integrate our ed

[2021-04-09 10:54] vialcollet commented on #1130
I was mostly thinking about presentations using the editor.
I am not a professional with docker but if I understand how to deploy an editor instance, I could certainly work on a dockerfile.
I didn't find in the presentation how to setup our own editor instance and the prerequisites.
If you help me with these steps then I can give it a try.
This would for sure boost the size of the community.

[2021-04-09 11:01] peterpeterparker commented on #1130
Thank for the details 😃.

In that case, would the editor, `studio`, running inside the Docker container, be connected with Firestore or with a Docker/local DB?

I have to say it the goal is to connect if with our productive Firestore account, I don't see spontaneously the value as it easier to use the browser directly. In addition, I don't want to expose and spread our productive tokens.

But if t

[2021-04-09 11:18] vialcollet commented on #1130
The objective is not to connect to your production Firebase database.
Here is how I see it:
- In a first step, we can connect to the user Firebase account through variables in the dockerfile. Quite easy.
- In a second step (when you are ready) we can connect to a mysql database

This local db can also be included in the dockerfile. This would make it very easy and autonomous.

[2021-04-09 11:41] peterpeterparker commented on #1130
I like the step by step approach 😃

Being said, even with variables in the dockerfile, as I said, I don't want to spread our productive credentials. Therefore it  means that the editor in the docker file would be connected in a first step to the developer database. Would that work?

[2021-04-09 11:55] vialcollet commented on #1130
Yes this is exactly what I mean.

The steps to deploy a self-hosted editor instance would look like so:
- Create a developper project in firebase
- Execute a command like:

[code]

I would add an option to have an nginx proxy in front of it to serve through ssl.

[2021-04-09 12:00] vialcollet commented on #1130
Well proxy should be managed separately to make it more flexible:

[code]

Where xxxx is the port you want to expose on the host.

[2021-04-09 12:10] peterpeterparker commented on #1130
I slowly get it 😅

That would be cool, I like the idea that anyone can kickstart it's own ddg in a docket container with his/her own Firebase account.

Two last things, I think:

- So `studio` relies on Firestore but also use Google Functions. If would be up to the user to deploy these or how would you populate these?

- In our editor, when user share their presentation, I Progressive Web Apps wit

[2021-04-09 12:21] vialcollet commented on #1130
How does it work for google fonts? They are downloaded locally or referenced?

Yes PWAs would be built locally and exposed on the host.

[2021-04-09 12:23] peterpeterparker commented on #1130
Google Fonts are fetched at runtime in the browser.

PWA built locally would be excluded here too in a first step I think, that would be quite some work too to make it happens.

[2021-04-09 12:24] vialcollet commented on #1130
How does it work on you editor instance to build PWAs? Is it separate from Editor?

[2021-04-09 12:27] peterpeterparker commented on #1130
Yes it is separate. It works in AWS.

P.S.: List of services are listed on the website https://deckdeckgo.com/en/services

[2021-04-09 12:32] vialcollet commented on #1130
Oh I see...
Well we need to start somewhere so let's exclude PWA build process and publication :)
If you give me instructions to setup an instance, I could go ahead and set it up to get familiar with the process.
Once done, I'll be able to prepare a dockerfile and publish a first image.
Would it be fine with you?

[2021-04-09 12:36] peterpeterparker commented on #1130
Sounds like a plan 👍

So basically to run our editor locally, your need Node.js LTS version.

Then the repo can be clone, depenencies installed and go

[code]

The project is exposed with a default dev Firebase configuration. If you would like to connect to another Firebase account aka be popupalted with other options, then these have to be updated in [config.dev.json](https://github.com/deckgo/de

[2021-04-13 17:57] thomasledoux1 commented on #1087
Hey @peterpeterparker,
Which prettier config would you want to use for the starter kit?
The same as the one being used in the main repo? https://github.com/deckgo/deckdeckgo/blob/main/cli/.prettierrc

[2021-04-13 17:59] peterpeterparker commented on #1087
I would say yes @thomasledoux1 or maybe with the extra css part from this [one](https://github.com/deckgo/figma-deckdeckgo-plugin/blob/main/.prettierrc)

but I am open to suggestion of improvements, if you've got idea, totally open

[2021-04-13 18:19] thomasledoux1 commented on #1087
Sure, we can add the CSS part from the Figma plugin.
I personally start from the prettier config from Kent C Dodds, because I really trust that he uses the best tools and rules in general :).
https://github.com/kentcdodds/kcd-scripts/blob/main/src/config/prettierrc.js

[2021-04-13 18:23] peterpeterparker commented on #1087
Works for me too, maybe can we use 140 as length instead of 80?

For the rest why not, we would just have to test it by formatting the `index.html` of the starter, which is the important part, works fine. Just to be sure that nothing conflicts but I guess it should be fine.

[2021-04-14 19:03] peterpeterparker commented on #1087
Solved with PR https://github.com/deckgo/starter-kit/pull/62

[2021-04-14 19:03] #1087 closed

[2021-04-16 05:05] peterpeterparker opened #1132 "storybook"
### Documentation Feedback

Replace our custom documentation with [Storybook](https://storybook.js.org).

Take advantages of the Stencil [doc-readme](https://stenciljs.com/docs/docs-readme) to populate it with the auto-generated READMEs aka with the jsdoc.

[2021-04-28 16:54] #1132 closed

[2021-05-06 08:07] lorefnon opened #1142 "Inline-editor component not working in chrome when contenteditable is inside a shadow dom"
### Affected part of DeckDeckGo

- [X] Web Components

Affected web-component: inline-editor

### Reproduction

Steps to reproduce:

1. Create a contenteditable inside a shadow-dom
2. Select text inside contenteditable
3. Click on any action in the editor toolbar

### Expected Behavior

The action should update the html content inside contenteditable

### Actual Behavior

It works as expected in f

[2021-05-06 08:14] lorefnon commented on #1142
One possible solution is to detect availability of [ShadowRoot.getSelection](https://developer.mozilla.org/en-US/docs/Web/API/ShadowRoot) method, and if supported we can find the nearest parent shadow root and call getSelection on it.

[2021-05-06 08:35] peterpeterparker commented on #1142
hi, thanks for the issue.

sounds like a good idea to use shadowroot.getSelection 👍. It might need  more changes though as the DOM is custom manipulated (I don't use document.execCommand).

Would you like to give a try to solve the issue?

[2021-05-06 09:19] lorefnon commented on #1142
Sure @peterpeterparker Thanks for your reply.

I currently don't have much familiarity with the code but I'll see if I can explore and come up with a working PR over next 4-5 days.

I really love the UX of the component.

[2021-05-06 09:29] peterpeterparker commented on #1142
Awesome! Ping me if you have any questions or observations.

Source are there -> https://github.com/deckgo/deckdeckgo/tree/main/webcomponents/inline-editor

[2021-05-08 05:09] lorefnon commented on #1142
Ok, that actually creates a bigger issue for me because undo/redo does not work out of the box for styling changes (I just assumed that they would). So I'll need to check into managing undo stack at application level :\

[2021-05-08 05:21] peterpeterparker commented on #1142
Yes that's a drawback. I don't know what's the timeframe of the `execCommand` deprecation and when Input Level 2 will be introduced, so it's kind  of  a  safe bet with custom code.

https://stackoverflow.com/questions/60581285/execcommand-is-now-obsolete-whats-the-alternative

[2021-05-08 05:41] peterpeterparker commented on #1142
Being said, maybe we can reintroduce `execCommand` and keep current implementation as backup plan. Open to discussion.

[2021-05-08 07:46] lorefnon commented on #1142
So one simple & minimal solution for the original problem is that we make the displayTools an exposed method which consumers can call passing in a Selection which they have obtained from their own shadow root.

[2021-05-08 08:10] peterpeterparker commented on #1142
Sounds good to me. I'm afk, I'll review the PR later today or tomorrow.

[2021-05-08 08:20] lorefnon commented on #1142
Sure. Thanks @peterpeterparker .

[2021-05-09 06:09] #1142 closed

[2021-05-09 08:13] peterpeterparker commented on #1142
Thanks a lot for the PR @lorefnon !

It has been merged and published to npm in version `v3.4.0`

[2021-05-09 10:19] lorefnon commented on #1142
Awesome thank you 🙂

[2021-05-09 12:00] peterpeterparker commented on #1142
@lorefnon FYI I just released v4.0.0 which re-introduces `execCommand` (default).

Optionally, through a property `command` the custom manipulation can be activated.

[2021-05-09 14:32] lorefnon commented on #1142
Nice :) Thank you. I know that execCommand is deprecated but given the platform's past track record it is very likely that it will outlive my hobby project.

[2021-05-09 14:33] peterpeterparker commented on #1142
Haha yes and in worst case, the custom implementation is still here ;)

[2021-05-22 16:08] peterpeterparker opened #1173 "drr: toggle drag, rotation and resize on the fly"
### Affected part of DeckDeckGo

- [X] Web Components

### Feature Description

(follow email exchange)

I've tried to activate/desactive  drr components with a button. So I initialize my web page with drr div with parameters setting up to false and i've a button who's set up on click parameters to true, which should works and it's works.

The problem is when I initialize drr at false, when I clic

[2021-05-25 12:22] MonUj opened #1176 "Active drag, resize & rotate with JQuery"
### Affected part of DeckDeckGo

- [x] Web Components

Drag, resize & rotate component

### Reproduction

Steps to reproduce:

1. [https://codepen.io/LeUj/pen/abBpbBz](url)
2.

### Expected Behavior

I would like to be able to activate/desactivate  drr (drag,resize,rotate) with a button.

### Actual Behavior

What I get is parameters of my div (cf codepen) changes when I click but nothing happend.

[2021-05-25 15:43] #1173 closed

[2021-05-25 15:51] peterpeterparker commented on #1176
Thanks for the issue @MonUj

This has been track (I opened the issue last weekend) and solved (now) in https://github.com/deckgo/deckdeckgo/issues/1173

It has been published in `v2.1.0` of the web components.

I was able to make the feature happens in your pen but, it needed some changes. Notably, it needs a container around the component, otherwise the position and other metrics cannot be calcul

[2021-05-25 15:51] #1176 closed

[2021-05-25 16:33] MonUj commented on #1176
Hi David,

Thanks a lot for helping me to do this task. I really appreciate you taking
time with me for information and exchange. I wish you the best for the rest.

Now I'll try to implement this on my work project ! Hope it will not be too
hard aha !

Thx again,
Best regards,
Julien

Le mar. 25 mai 2021 à 17:51, David Dal Busco ***@***.***> a
écrit :

[2021-05-25 16:37] peterpeterparker commented on #1176
My pleasure and thanks for raising the idea!

Have fun with your project

[2021-05-26 15:43] skuntze opened #1178 "Highlight Code: Option for horizontal scrolling"
### Affected part of DeckDeckGo

- [x] Web Components

Highlight Code

### Feature Description

Option for controlling the horizontal scroll behaviour/line breaks of the code.

### Use Case

In some situations, source code is easier to read if the lines are not broken. So it is better to accept the otherwise undesirable option of having a horizontal scrollbar.

![image](https://user-images.githubu

[2021-05-26 16:00] peterpeterparker commented on #1178
Thanks for the issue @skuntze !

Do you mean an option in the component itself or, in our online editor?

### Component

If component itself, there are already some `overflow` CSS variables available. Maybe it can already be achieved by modifying these property from `auto` to `overflow`  ?

For example:

--deckgo-highlight-code-scroll
--deckgo-highlight-code-carbon-overflow

https://docs.deckdeckg

[2021-05-27 07:01] skuntze commented on #1178
@peterpeterparker Thanks for the reply!

I mean the option in the component, not the online editor.

Could you share an example of how to use these CSS variables?

[2021-05-27 11:02] peterpeterparker commented on #1178
For example, you can you either use the CSS variables inlined

[code]

Or in CSS class

[code]

Let me know if it works out

[2021-05-27 13:55] skuntze commented on #1178
Thanks for your support, @peterpeterparker.

This CSS variable is indeed adding scrollbars to the component but the code lines seem to be broken before (the line numbers also change).

![highlight-code-scroll](https://user-images.githubusercontent.com/3451457/119838309-9923cf00-bf03-11eb-9ef0-8088213b7026.gif)

Hopefully uploading a GIF works fine...

[2021-05-27 15:25] peterpeterparker commented on #1178
You may have to tweak some other CSS variables, assuming these are available but, not totally sure.

Is your project open source? If not, can you provide a sample repo?

[2021-05-28 07:07] peterpeterparker opened #1181 "Firestore does not resolve (firebase > v8.5.0)"
### Affected part of DeckDeckGo

- [X] Studio (online editor)
-
### Reproduction

Steps to reproduce:

1. Go to https://app.deckdeckgo.com
2. Login
3. Create a new presentation

### Expected Behavior

A created deck and an up-to-date navigation.

### Actual Behavior

The `createDeck` does not resolve and therefore, the deck is not created and the id in the navigation history is not updated.

Side

[2021-05-28 07:23] peterpeterparker commented on #1181
Link to Firebase issue I opened: https://github.com/firebase/firebase-js-sdk/issues/4952

[2021-05-28 08:14] skuntze commented on #1178
@peterpeterparker Unfortunately, the project is not open source. I will try my best to provide a sample repo to you soon.

[2021-05-28 10:26] #1181 closed

[2021-05-29 07:38] #1178 closed

[2021-05-29 07:41] peterpeterparker commented on #1178
Thx for the sample repo @skuntze

I have added a new CSS variable for your use case and released in version `v3.2.0` of the component.

[code]

Should solve your use case. Let me know if it works out.

<img width="1513" alt="Capture d’écran 2021-05-29 à 09 40 28" src="https://user-images.githubusercontent.com/16886711/120062341-00f02c00-c062-11eb-893a-c94c840be9d6.png">

[2021-05-31 13:10] skuntze commented on #1178
@peterpeterparker Thank you so much for your quick support. That's exactly what we were looking for! 🙂

[2021-05-31 14:45] peterpeterparker commented on #1178
Awesome, happy to hear that, thank you for your help!

[2021-06-02 13:10] peterpeterparker opened #1193 "add links from docs components and templates to GitHub"
### Documentation Feedback

In the [documentation](https://docs.deckdeckgo.com), it would be nice to add links to each components and templates to their respective GitHub "repository" (subfolder of our mono repo).

This would ease the jump to the code from the docs.

**Affected documentation page:**

All [webcomponents](https://github.com/deckgo/deckdeckgo/tree/main/webcomponents)  and [templates]

[2021-06-03 11:57] johnfelipe opened #1195 "Cheatsheet with commands for install and production deploy"
Pls tell me if u share cheatsheet with all steps for deploy in a new Ubuntu 20 from scratch with domain and SSL
Tnks

[2021-06-03 12:42] peterpeterparker commented on #1195
Hi, not sure I understand what are you looking to deploy?

We don't have currently any particular cheatsheet to deploy the applications for development purpose, except what's displayed in their relative README.

There is also a ongoing discussion #1130 about a Docker image.

[2021-06-04 15:53] #1058 closed

[2021-06-08 16:08] peterpeterparker opened #1199 "archive template"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Feature Description

Add an option to "archive" templates in the editor.

- In the [templates](https://app.deckdeckgo.com/templates) settings page, add an option, on each template, to "archive" it

- The information "archived" should be persisted in the database aka should be added to the [template.ts](https://github.com/deckgo/dec

[2021-06-08 16:11] peterpeterparker opened #1200 "add "customization" and "templates" links to top right menu"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Feature Description

If user is logged in, add "customization" and "templates" links to the top right menu

### Screenshot

![image_360](https://user-images.githubusercontent.com/16886711/121220506-f107f180-c884-11eb-9c75-a4303370faa9.png)

[2021-06-08 16:14] peterpeterparker opened #1201 "templates grid broken"
### Affected part of DeckDeckGo

- [X] Studio (online editor)

### Actual Behavior

See screenshot, if there are more than 4 templates, the grid layout is broken. It should amend the available width and wrap elements on next lines.

### Screenshot

![image](https://user-images.githubusercontent.com/16886711/121220901-56f47900-c885-11eb-9f24-1a6b6b66da1d.png)